[2022-01-04 09:55] Jay-Qu commented on #502
I have the issue on MacOS Big Sur (11.6.2) when trying to load a previously downloaded "Trends.Earth" dataset into QGIS.
Any help is much appreciated :)

Python version: 3.9.4 (v3.9.4:1f2e3088f3, Apr  4 2021, 12:32:44) [Clang 6.0 (clang-600.0.57)]
QGIS version: 3.18.3-Zürich Zürich, exported

**Here is the Error Message:**

An error has occurred while executing Python code:

KeyError: 'year_start'

[2022-01-11 13:09] azvoleff commented on #513
This should now be fixed (there was an issue with our email service) - let us know if you still see this issue and we'll reopen

[2022-01-11 13:09] #513 closed

[2022-01-11 13:23] timlinux opened #517 "We need a template example for the report"
Can you please make a mock up of the report that we should create.

This can be in powerpoint format. Please see discussion on https://github.com/ConservationInternational/trends.earth/issues/388 which may already cover many of your user requirements.

[2022-01-11 13:31] timlinux opened #518 "Metadata editing workflow"
![image](https://user-images.githubusercontent.com/178003/148951183-98b4d77b-246f-4b69-9f40-38191350803d.png)

![image](https://user-images.githubusercontent.com/178003/148951277-39d233e1-29c2-4fe6-ba4e-f27b1eb52ed1.png)

![image](https://user-images.githubusercontent.com/178003/148951315-4e9a5d07-a960-4bb9-9a17-29bdef81c9cb.png)

Add metadata button on the form above

Once the layer is already lo

[2022-01-11 13:35] timlinux commented on #518
If we can not match the state to the iso metadata model, dont try to store in the metadata

[2022-01-11 13:52] timlinux commented on #518
![image](https://user-images.githubusercontent.com/178003/148955047-b23911f4-04de-414d-bd14-10268774c73c.png)

We already have an export as zip button, but Alex B needs to modify the function to export the metadata into an ISO doc and embed it in the zip.

[2022-01-11 13:53] timlinux commented on #518
![image](https://user-images.githubusercontent.com/178003/148955244-3ad96f21-97bf-40b8-b299-101bf63ab810.png)

This existing document also needs to be refactored so that the data storage for the metadata is stored in the QGIS layer properties.

[2022-01-11 13:59] timlinux commented on #518
So to summarise:

Phase 1:

 Alex B to hook in the layer properties so that layer metadata is stored in the QMD / QGIS layer metadata:
 Then add functionality so that we can transform the QGIS metadata into an ISO doc (look in metacat bridge plugin for inspiratio)
 Lastly when the layer properties export to Zip buttion is pressed, the ISO doc should be bundled in

 Phases 2:

 Alex Z will be inclu

[2022-01-11 14:05] timlinux commented on #517
![image](https://user-images.githubusercontent.com/178003/148956705-29f921c3-5e06-4a83-abeb-284fdf999519.png)

Workflow:

Add a button in the panel to create a report
Choose a report layout
Based on the report chosen, user must fill in the datasets that should be used
Press print to create your report.

We could have a standard page associated with each dataset (or multuple pages for each dataset)

[2022-01-11 14:06] timlinux commented on #517
Similar to how this was implemented - user would get all of the report or a subset depending on which layers are selected.

![image](https://user-images.githubusercontent.com/178003/148957596-c74ef593-3487-47eb-9ed3-0af15edc5366.png)

[2022-01-11 14:09] timlinux commented on #517
We can actually make the PDF generation happen automatically when the user presses Execute Locally

[2022-01-11 14:12] timlinux commented on #517
If users want to use a custom template they can copy the master template and set in the settings  the QPT override. Users can copy the bundled one to use as a starting point and then change branding etc.

[2022-01-12 10:24] alexbruy commented on #518
Splitting Phase1 into smaller task for better manageability:

- [ ] Update all dialogs for loading custom datasets (Soil Organic Carbon, Land Cover, Land Productivity) by adding a "Metadata" button to them. Clicking on this button will open a metadata editor identical to QGIS metadata editor where user can enter metadata of the dataset. Metadata is stored in the QGIS layer properties and in XML fi

[2022-01-14 08:43] alexbruy commented on #518
@azvoleff are you ok with the subtasks above? Do they cover all required functionality?

[2022-01-18 03:05] grunewac opened #520 "Trends.Earth plug in not loadable in QGIS"
![image](https://user-images.githubusercontent.com/97929554/149863647-8070b60d-9a26-43da-b2c6-738cde7112b5.png)

I just installed QGIS-LTR on my Mac (macOS Catalina 10.15.7), and am receiving an error message when trying to install the trends.earth plugin. The message states:
"Couldn't load plugin 'LDMP' due to an error when calling its classFactory() method
RuntimeError: Attempted to compile AOT

[2022-01-18 16:45] alexbruy commented on #518
Adding screenshots of the metadata dialog which is used for imported custom datasets
![metadat-01](https://user-images.githubusercontent.com/776954/149980526-db21a7c5-abe4-40d0-a217-5ff88aab0d27.png)
![metadat-02](https://user-images.githubusercontent.com/776954/149980531-83bb803c-d668-4cfa-9d56-75d7b8f9e962.png)
![metadat-03](https://user-images.githubusercontent.com/776954/149980533-48740414-a82

[2022-01-18 18:47] gkahiu commented on #517
Attached is a brief presentation outlining the approach for designing and producing reports which addresses some of the functional requirements in issue #388 . Let me know if there are further enhancements and modifications to be made.

It will also be great to get suggestions on templates incorporating multiple datasets otherwise some sample layout designs for such use cases will be helpful.

[tr

[2022-01-19 18:57] gkahiu opened #521 "Error on Downloading Algorithm Results"
Am encountering the error below when downloading results from the cloud:

Traceback (most recent call last):
  File "/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\LDMP\main_widget.py", line 266, in refresh_after_cache_update
    maybe_download_finished_results()
  File "/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\LDMP\main_widget.py", line 600, in maybe_download_finis

[2022-01-20 00:22] #516 closed

[2022-01-20 00:24] azvoleff opened #522 "Fix land cover import class definition screen"
- [x] reset button pulls up the full ESA class list (it should pull up correct codes for what is actually in the file)
- [x] save/reload of the definitions isn't working

@gdaldegan - can you expand if you notice any further issues with that screen?

[2022-01-20 00:24] azvoleff opened #523 "Fix the display of layers after import"
Right now button to add to map is greyed out after import

[2022-01-20 00:28] azvoleff opened #524 "Fix region name selection for custom layer imports"
Right now a region name is assigned to imports - shouldn't do this because the region selected is irrelevant for imports

[2022-01-20 03:51] azvoleff commented on #518
@boc84 do you have a list of the minimum set of fields you would like to require be entered for national-level datasets imported into Prais? I'd suggest we use a simplified version of the above dialogs to represent those fields (as a minimum). Users of course would then be free to use the standard QGIS metadata editing tools if they wanted to include further information (and for the default datase

[2022-01-20 08:10] boc84 commented on #518
@azvoleff Yes, these are basically the same fields as we have in our current upload form in PRAIS (presented to user on upload of any spatial dataset). Please use a simplified version of these, as you suggest. So my question would be if there is a some standard data structure behind these dialogs that is machine readable and can be easily imported to the database fields in PRAIS where metadata are

[2022-01-20 12:58] azvoleff opened #525 "Check why performance getting cutoff on top of extent"
See for example these results for Georgia:

![image](https://user-images.githubusercontent.com/107753/150342971-5d526a81-4c1b-44df-abf0-97ca71f8c495.png)

The performance function is called [here](https://github.com/ConservationInternational/trends.earth/blob/develop/gee/sdg-15-3-1-sub-indicators/src/main.py#L92) from the plugin, but if there is a bug it would be in this [GEE code](https://github.

[2022-01-20 14:07] boc84 commented on #518
I attach a list of the minimum fields we have in PRAIS (our reporting system). These fields would suffice for the simplified version I think.
[Metadata fields.docx](https://github.com/ConservationInternational/trends.earth/files/7905782/Metadata.fields.docx)

Please let me know if there are any other questions. Thanks for this work you are doing!

[2022-01-20 17:37] gdaldegan commented on #522
tool is returning 'nodata' dataset when importing a custom land cover layer into TE

[2022-01-23 16:54] anantapradhan commented on #318
Python error: Couldn't load plugin 'sz_module' due to an error when calling its classFactory() method See message log (Python Error) for more details.

same error

[2022-01-24 14:45] azvoleff commented on #318
@anantapradhan - what OS version, QGIS version, and plugin version are you using?

[2022-01-24 14:47] azvoleff commented on #521
@gkahiu - what plugin version are you on? Mostly wondering if you still see this on latest develop (as this should be fixed).

[2022-01-24 14:50] azvoleff commented on #520
Thanks, this comes up in the code that tries to use numba to compile some of the functions used in generating summary tables within QGIS. If you don't have a compiler then the compilation will fail, but it should do so more nicely (just printing a log message, not giving a python error). What version of the plugin are you on? And can you paste the full python error you see?

[2022-01-24 15:17] gkahiu commented on #521
Thanks. I can confirm the issue is fixed in the latest _develop_

[2022-01-24 15:17] #521 closed

[2022-01-25 13:56] alexbruy commented on #518
Initial work is here #527

[2022-01-25 14:36] alexbruy opened #528 "Unable to delete datasets"
When trying to delete dataset plugin throws an errors like this one
[code]

This happens with different types of datasets: RasterResults, EmptyResults etc.

I am running latest version from the develop branch as well as latest te_schemas and te_algorithms.

[2022-01-25 14:42] timlinux opened #529 "Add support for opening metadata editor for individual rasters"

[2022-01-25 14:43] timlinux opened #530 "We need a parser for metadata shipped with downloaded products"
Metadata are in simple json format.

@azvoleff to provide examples

[2022-01-25 14:49] timlinux opened #531 "Creation of special areas"
Trends.Earth shall allow users to digitize new vector features to delineate areas of special
interest. The following type of vector layer shall be supported, with its own predefined schema
(according with previous e-mail exchanges with Brian O’Connor from UNCCD):
1. False positives/false negatives;
The False negatives/false positives layer shall have the following additional features:
•
The SDG 15

[2022-01-25 15:05] timlinux commented on #531
Please break this epic task into a series of smaller tickets and assign what you think is achievable into the milestone Creation of dataset defining special areas (polygons)

[2022-01-25 15:11] timlinux opened #532 "Wireframes needed for additional of summary statistics"
Could you please share a simple wireframe / mockup (e.g. made in powerpoint or your favorite drawing app) of what statistics and other content should be made available on the summary report.

[2022-01-26 23:38] azvoleff opened #533 "Fix download tool to support latest datasets"
Most importantly we need the new population data to work correctly in it. Right now it is listed but doesn't download correctly as I don't think the tool works correctly right now with any dataset that has multiple bands

- [ ] add an option to set region to the download tool using the new region setting interface
- [ ] make sure the tool works with multiband datasets
- [ ] fix the display of data

[2022-01-27 02:38] grunewac commented on #520
Hello - I have QGIS LTR 3.16 installed.

The full error message is below:

Couldn't load plugin 'LDMP' due to an error when calling its classFactory() method

KeyError: 'Can only index numba types with slices with no start or stop, got 4.'
Traceback (most recent call last):
  File "/Applications/QGIS-LTR.app/Contents/MacOS/../Resources/python/qgis/utils.py", line 334, in _startPlugin
    plugins[p

[2022-01-28 15:05] azvoleff opened #537 "Change terminology in dialogs"
- [ ] trajectory -> trend
- [ ] affected -> exposed
- [ ] avoid using Tier 1, 2 and 3 for Drought Hazard, Exposure and Vulnerability -> use Hazard, Exposure and Vulnerability consistently (in GPG a Tier level approach is used to estimate Vulnerability, but this has nothing to do with Hazard and Exposure)

[2022-01-28 15:10] azvoleff commented on #537
@boc84 - feel free to add if you notice others

[2022-01-30 10:25] sbenz-geo commented on #206
Hello everyone,

I'm a little late, but registration is not working for me too even if I disable the firewall.

Please, see below, some lines from the log file. I really need your help.

Best regards.

2022-01-30T11:12:51	0	Starting trends.earth version 0.66 using locale "fr" in path C:/Users/Dell/.qgis2/python/plugins\LDMP\i18n\LDMP_fr.qm.
2022-01-30T11:12:51	0	Translator installed.
2022-01-30T11

[2022-01-30 21:46] azvoleff commented on #206
@sbenz-geo are you also going through a proxy server?

[2022-01-30 22:47] sbenz-geo commented on #206
Hi,

I don't know i it is a proxy server. I'am using Bitdefender VPN. What should I do ?

Thank you.

[2022-01-31 07:49] alexbruy commented on #529
Addressed in #527.

[2022-01-31 07:50] alexbruy commented on #530
@azvoleff may I ask for metadata examples?

[2022-01-31 08:37] alexbruy opened #538 "UI for special areas"
Add another tab to the plugin dock for listing known special areas. Implement UI (item delegate) to represent each layer in the list.
![Screenshot 2022-01-31 at 10-35-50 trends earth-metadata-reporting-enhancements-proposal-v1 5-nocosts pdf](https://user-images.githubusercontent.com/776954/151762301-53f08df9-f770-4f5c-8d90-9860ddd5f78d.png)

[2022-01-31 08:44] alexbruy opened #539 "Digitizing tool to create polygons from points"
Add custom digitizing tool to create special area polygons. This tool should allow user to select center of the special area, then for the area in sq. km or radius in km of the circle to be created and create new polygon. When a circle is added in this manner, a source attribute should be populated with the text "Buffer Tool".

[2022-02-01 12:48] gkahiu opened #540 "Incorporate Functionality for Open Output Report and Templates"
Enable output reports (and QGIS layouts) to be opened in native applications for report tasks that have completed.

![image](https://user-images.githubusercontent.com/3840267/151971154-50f4d8a5-fde6-4f81-a18c-30dcc1a8d510.png)

[2022-02-01 12:49] gkahiu commented on #540
Output and layout viewing now incorporated.

[2022-02-01 12:54] gkahiu opened #541 "Creation of Multidataset Reports"
Support creation of reports containing multiple related datasets such as LDN with the 3 sub-indicators.

[2022-02-01 12:55] gkahiu commented on #541
Incorporated, ready for review.

[2022-02-02 13:49] timlinux opened #542 "UI for common report elements"
![imagem](https://user-images.githubusercontent.com/178003/152166006-6966edaa-489c-4766-83e2-e12464bf598f.png)

We should also have a way to let users provide their own templates in a user folder, masking out the ones shipped with the plugin.

[2022-02-02 14:23] alexbruy commented on #538
@azvoleff I was thinking about moving special areas to the Datasets tab. As I understand you want to have them in the same list mixed them with jobs items, right? In this case we will have items with different UI in the same list, is it ok? Or deeper reworking is needed to unify items as well?

[2022-02-02 21:52] gdaldegan commented on #522
import LC vector (SHP) dataset returns the following error for the 'Edit definition' button, even though the dataset has only 5 lc classes
![edit_definition](https://user-images.githubusercontent.com/22821787/152243465-749d73ac-b6a1-4871-8596-9d081d7710fe.PNG)
n

[2022-02-04 15:29] azvoleff commented on #538
(copied from email from @alexbruy):

This works, but above should probably be `VectorFalsePositive` or similar to allow for multiple vector types (as we'll need a dataclass for each, with the VectorType enum used to differentiate on deserialization as you indicate)

I'd argue for show/hide as relevant. We already do this for progress bar for example, given locally imported datasets never show one

[2022-02-06 11:14] alexbruy opened #543 "Attribute table and form for false positive/false negative layer"
False positive/false negative layers will be stored in the "datasets" folder in GeoPackage format. According to the requirements and schema attribute table of the layer has following structure
![table](https://user-images.githubusercontent.com/776954/152677617-f0b4ce68-c30d-4c0f-b599-9aedb2bd2be5.png)
Where
- uuid is a hidden automatically populated field
- location_name — a free text field, popul

[2022-02-06 11:16] alexbruy commented on #538
Thanks for the feedback. Now I have to adopt the code which was written previously in assumption that we will handle special areas independently.

[2022-02-06 11:17] alexbruy commented on #538
Related ticket to discuss attribute table structure and attribute form is here #543.

[2022-02-06 11:55] alexbruy commented on #538
@azvoleff which workflow should be used for creating new features (polygons) in the special area layer? Will the same workflow as in native QGIS editing tools work? E.g. once layer added to project in editing mode then user selects desired digitizing tool, draws a polygon or create it from a point (buffer tool), then attribute form pop-ups where attributes of the newly added feature should be fill

[2022-02-06 20:36] azvoleff commented on #508
Fixed in a3a544702da5fc3166749f6cfe57a274680c47d8.

[2022-02-06 20:36] #508 closed

[2022-02-07 08:58] gkahiu commented on #542
@timlinux regarding the location of user templates, we can go with either of the two options below:
1. Directly editing the path of `portrait_path` and `landscape_path` in `LDMP/data/report/templates.json` with the absolute path of the user template(s):
[code]
Currently these paths are relative to the location of `templates.json` but I can make them to be both relative (for default templates) and

[2022-02-07 10:38] gkahiu commented on #542
Alternatively, I will add an option in Settings to allow a user to specify a directory as a search path so that the path in `templates.json` can remain as relative.

[2022-02-07 18:50] alexbruy commented on #543
@azvoleff am I right that special area layers should be in EPSG:4326?

[2022-02-08 14:05] timlinux opened #544 "We need example metadata downloaded with results"

[2022-02-08 14:06] timlinux opened #545 "We need controlled vocabularies for special areas form"

[2022-02-08 14:39] timlinux opened #546 "Special areas should use default styling"
Maybe transparent fill with blue outline for false positive and red outline for false negative. Can we just drop a qml into the geopackage so the template can be edited later as needed.

[2022-02-08 16:55] azvoleff opened #547 "Update layer coding table"
Update tables [on dataset coding](https://trends.earth/docs/en/about/layers.html)

- [ ] population exposure to land deg
- [ ] SPI
- [ ] drought exposure
- [ ] drought vulnerability (JRC)

[2022-02-08 22:05] MLNoon commented on #532
Please find some examples here:
[wireframes for reports.docx](https://github.com/ConservationInternational/trends.earth/files/8027820/wireframes.for.reports.docx)
[sdg-15-3-1-summary_aruba-all-regions_baseline.xlsx](https://github.com/ConservationInternational/trends.earth/files/8027819/sdg-15-3-1-summary_aruba-all-regions_baseline.xlsx)
![map_figure_productivity_trajectory_degradation_2001_2015_C

[2022-02-09 01:34] gdaldegan opened #548 "sub-indicators not correctly calculated/displayed on the summary spreadsheet"
![sdg1531_lp_issue](https://user-images.githubusercontent.com/22821787/153104997-2d3156cf-7764-4cf0-8567-03b9bedb35cf.PNG)

[2022-02-09 01:39] gdaldegan opened #549 "error when integrating SDG 15.3.1 indicator"
The following error has been reported for integrating all sub-indicators into the final SDG15.3:
![sdg_error](https://user-images.githubusercontent.com/22821787/153105404-c963d2ec-1c88-4050-b110-dc25c56b674b.jpg)
1

[2022-02-09 18:11] azvoleff opened #550 "Only allow selecting from combo boxes if you've clicked"

[2022-02-09 18:12] azvoleff opened #551 "Filter combo boxes from regions"

[2022-02-15 10:17] alexbruy commented on #546
Addresses in #553.

[2022-02-15 10:18] alexbruy commented on #543
Addressed in #553.

[2022-02-15 10:18] alexbruy commented on #539
Addressed in #553.

[2022-02-15 10:18] alexbruy commented on #538
Addressed in #553.

[2022-02-15 10:19] alexbruy commented on #531
Initial work is here #553.

[2022-02-15 12:18] gkahiu commented on #532
Thanks Monica. based on the sample stats in the document, will these only apply for land cover or also for other dataset categories?

[2022-02-15 12:30] gkahiu commented on #517
@MLNoon a couple of questions on the sample templates shared:

1. Will we have the same template (basic and advanced) for all algorithms (SDGs 15.3.1, 11.3.1, Drought etc.) or only for specific ones?
2. Since the process of generating reports is automatic, should both the basic and advanced layouts be generated at the same time?
3. I have set the basemap datasets to be auto-downloaded on QGIS star

[2022-02-15 12:36] gkahiu opened #554 "Simplified Legend for Reports"
Currently, the report generation module uses the layer names and styling defined [here](https://github.com/ConservationInternational/trends.earth/blob/master/LDMP/data/styles.json). However, there was a suggestion to simplify this, could you kindly provide a preferred styling for the reports?

[2022-02-15 14:14] timlinux commented on #517
Examples provided by @MLNoon

![map_complex_population_female_2015_Colombia_all_regions](https://user-images.githubusercontent.com/178003/154079165-85687ea4-60d2-42f4-96c7-2dffdc8b1e21.png)

![map_figure_productivity_trajectory_degradation_2001_2015_Colombia_all_regions](https://user-images.githubusercontent.com/178003/154079173-c23850bf-491a-4ce4-91dc-f5802a87b793.png)

[sdg-15-3-1-summary_aruba-

[2022-02-15 14:21] MLNoon commented on #517
1. Yes
2. Yes
3. Yes, it is ok.
4. Let's talk about this
5. Yes, Monica to send abbreviated legend items (+ basemap
6. Yes
7. Use layer title for simple template, the user can change the complex template as they like once they download the template

[2022-02-15 14:23] gkahiu commented on #517
Great thanks!

[2022-02-15 14:38] timlinux opened #555 "We need the template to support UN languages"
There are six official languages of the UN. These are Arabic, Chinese, English, French, Russian and Spanish.

Can you make one copy of the final gpkg for false positives per language with the 2 letter iso code as suffix and then add logic to use the relevant template gpkg at run time.

[2022-02-15 14:47] timlinux opened #556 "Charts on forms for special areas"
See #531 for reference

![image](https://user-images.githubusercontent.com/178003/151000677-5d5a15e9-3fd6-41c8-bb64-b63459308290.png)

![image](https://user-images.githubusercontent.com/178003/151000883-c3575df6-5e0a-42b9-84da-ee16ceeb4bd2.png)

Figure 2: Mockups for the digitizing form for the false positives/false negatives vector layer. (Charts would be added in
phase b)
We will use a standard

[2022-02-15 14:58] timlinux commented on #556
The names of the layers used should be stored in the special areas metadata in the form of Task UUID and band number for each.

During the process of calculating areas, we should in addition use the area of the defined polygon to perform some calcs on the number of cells in the polygon in both degraded and improved state. These will be then populated (and updated when the polygon is latered) as pe

[2022-02-16 18:13] alexbruy commented on #556
@azvoleff may I ask you to clarify digitizing workflow for charting version, as there are some things which are unclear for me.

Here is my understanding of the workflow:
1. user has SDG indicator layer added to canvas, this is one of the bands from sdg-15-3-1-sub-indicators process, right?)
2. user adds special area layer to canvas
3. user select either manual digitizing or buffer tool
4. a dialo

[2022-02-17 00:49] gdaldegan opened #557 "sdg15.3.1 summary table has issues on its Productivity & SOC tabs s"
Productivity & SOC tabs of the SDG15.3.1 Indicator Summary Table are not correctly reporting the summary figures
![sumaryTableIssue](https://user-images.githubusercontent.com/22821787/154382784-eb9a7626-07b5-4733-886a-0a0ee1d92820.PNG)
.

[2022-02-17 00:53] gdaldegan opened #558 "getting an error when trying to delete a data listed under the Dataset tab"

[2022-02-17 13:19] alexbruy commented on #555
Implemented in #553.

[2022-02-17 18:41] azvoleff opened #559 "Fix image for prod/state/traj and 3/5 class key"
[This](https://trends.earth/docs_development/en/for_users/features/background_landdegradation.html#combining-productivity-indicators) should match [this](https://prais4-reporting-manual.readthedocs.io/en/latest/SO1.html#id39)

[2022-02-22 12:52] alexbruy commented on #556
@azvoleff any comments on this?

[2022-02-23 10:24] StudentFSL opened #560 "Download result problem"
I can successfully calculate the result but the download will show that unable to access internet. How to solve this problem?

![微信截图_20220223154524](https://user-images.githubusercontent.com/76092959/155301118-847bb2fc-4b89-4b40-95f0-cdd4ac51c1dd.png)
![微信截图_20220223154456](https://user-images.githubusercontent.com/76092959/155301134-ed59c5df-c232-4779-956c-f7674f83eb0c.png)

[2022-02-23 22:51] azvoleff commented on #556
I would start with adding the false positive/false negative layer to the canvas. When a user decides to do so, then they should be asked which layer(s) it will apply to (so they should be shown a drop down to select which dataset, and (advanced option) layer(s).

The user should be given the option of selecting a dataset with an SDG layer inside it (with [this widget](https://github.com/Conservati

[2022-02-24 08:32] gkahiu commented on #542
PR #561 includes:
1. Settings for common report elements, which are also available as expression variables in the layout scope
2. By default, template configuration and corresponding templates are copied to `[BASE_DATA_DIR]/reports/templates`. The user can also defined an additional search path for templates - still under Settings > Reports

![image](https://user-images.githubusercontent.com/38402

[2022-02-24 08:33] gkahiu commented on #541
Included in PR #561 though further tests required.

[2022-02-24 08:42] gkahiu commented on #540
Included in PR #561.
![image](https://user-images.githubusercontent.com/3840267/155488256-a0804001-e190-4d8a-9f2c-9c2e2871f4f5.png)

**Open report directory** - opens _'reports'_ directory containing reports in PDF and/or PNG/JPEG in the respective dataset folder for each job.

**Open layouts...** - Opens the QGIS project containing the default layers for a given job and the corresponding layouts

[2022-02-25 15:26] azvoleff opened #562 "Fix affected areas text box text"
- Per discussion with @boc84 should refer to Affected Areas
- Also add link to https://prais4-reporting-manual.readthedocs.io/en/latest/voluntary_targets_and_others.html?highlight=affected%20area#affected-areas within the explanatory box

[2022-02-28 17:21] azvoleff opened #563 "Add check in case LocalResults lacks uri field"
https://github.com/ConservationInternational/trends.earth/blob/435a12d9ef4de1d813b6dd2eb9cf2c7ab9ad81c9/LDMP/jobs/manager.py#L195

Related to issue Chris van Diemen found

[2022-02-28 18:29] Mountain-Horn commented on #318
I installed the latest version of QGIS 3.24 Tisler, I faced the problem mentioned;
Python error: Couldn't load plugin 'processing_fusion' due to an error when calling its classFactory() method See message log (Python Error) for more details.
Before installed QGIS I have installed Anaconda and Python 27.
It will be helpful for me if anyone give a suggestion to get rid of this error.

[2022-03-01 14:18] timlinux opened #565 "Add charts for special areas"
![image](https://user-images.githubusercontent.com/178003/156184719-e0609a55-83f1-4f34-8e93-723df580096a.png)

![image](https://user-images.githubusercontent.com/178003/156184876-c2ff8303-0d5a-483c-9110-6d8cd73416e1.png)

Notes from @azvoleff

- we can approximate values for large areas - favour performance over accuracy
- @alexbruy proposes a 'smart' implementation that will look at the size of t

[2022-03-01 14:26] timlinux commented on #565
@azvoleff asks if we can also add a 'stable' class to indicate areas where in fact no change has taken place.

[2022-03-01 14:27] timlinux commented on #565
@azvoleff to share colour to use for the stable class

[2022-03-01 14:28] azvoleff commented on #565
Hex codes for charts:
- degraded (-1): `#9b2779`
- stable (0): `#ffffe0`
- improved (1): `#006500`

[2022-03-01 14:38] alexbruy commented on #565
@azvoleff am I right that degraded (-1), stable (0) and improved (1) values are the same for all layer types?

[2022-03-02 12:55] boc84 commented on #562
@azvoleff I suggest we leave the current text next to the checkbox as it is and add as a tooltip or in the righthand bar:

“Reporting on affected areas is an optional element in the UNCCD 2022 reporting process and is additional to national reporting.  “Affected Areas” are defined in Article 1 of the Convention as “arid, semi-arid and/or dry sub-humid areas affected or threatened by desertificatio

[2022-03-02 13:50] azvoleff commented on #565
Yes, that is right

[2022-03-07 07:28] HendrikHamacher commented on #318
Same issue here!

[2022-03-09 18:31] #537 closed

[2022-03-09 18:36] #529 closed

[2022-03-10 16:30] azvoleff opened #568 "Add endpoint to access recalculation code for charting"
- [ ] have a parameter for percentage / area
- [ ] return an approximate or precise flag
- [ ] have an option to require exact calculations

[2022-03-10 17:42] azvoleff commented on #562
Per discussion with @boc84, TE will drop all spatial layers from the upload if this box is selected, and will only include the JSONs

[2022-03-14 18:01] azvoleff opened #571 "Documentation updates"
- Under Features - UNCCD reporting
  - [x] Review and update all content, add links to [UNCCD reporting manual](https://prais4-reporting-manual.readthedocs.io/)
  - [x] Update SDG 15.3.1 tables (new color coding, @gdaldegan)
  - [x] Add SO2 (@gdaldegan)
  - [x] Add SO3 (@gdaldegan)
- Training manual - UNCCD reporting
  - [x] Add SO2 (@gdaldegan)
  - [x] Add SO3 (@gdaldegan)
- Other
  - [ ] Review

[2022-03-15 14:04] timlinux opened #572 "Needs to resolve charts_merge branch python errors"

[2022-03-15 14:22] timlinux opened #573 "Documentation updates for reports"
3 Levels needed:

1. End user docuementation with 'point and click' user instructions
2. 'Report manager' documentation with notes on how to prepare the report templates, json files etc. Also discuss the expression functions added by reporting
3. Developer documentation explaining the reporting architecture etc.

[2022-03-15 14:24] timlinux opened #574 "Documentation updates for metadata and special areas"
3 Levels needed:

1. End user docuementation with 'point and click' user instructions for using metadata and special areas
2. 'Report manager' documentation with notes on how modify the template geopackage to e.g. add new categories
4. Developer documentation explaining the metadata and special areas architecture etc.

[2022-03-15 14:25] timlinux opened #575 "Developer documentation review"
Could you do a pass through the developer documentation please

[2022-03-22 14:22] timlinux opened #577 "We need to reinstate the NDVI point query tool"
This was removed in some refactoring last year. There is still the time series results alg in the code, but the UI interactions were removed. Can we please reinstate this functionality. @MLNoon if you could share some screenshots of the original tool, that would be great.

[2022-03-22 14:23] timlinux opened #578 "Data set deletion tool inconsistent"
With the additional dataset types, we occationally get a python error or a NOP when the user attempts to delte a dataset. Please investigate and fix.

[2022-03-22 14:25] timlinux opened #579 "Need threadsafe updates crash resolved"
@azvoleff please share some diagnostics.

[2022-03-22 14:28] timlinux opened #580 "Manage of classes for land cover change targets"
![imagem](https://user-images.githubusercontent.com/178003/159504688-4c3bf003-e5c2-459f-9bda-45eebcc2bb5c.png)

User needs to be able to change the number and names of cover classes similar to this tool

![imagem](https://user-images.githubusercontent.com/178003/159504885-6ff56a1f-7af2-4707-9847-eaa1d3ba6218.png)

After changing the user should be able to save and load their cover definitions

[2022-03-22 14:33] timlinux commented on #580
If the user adds more classes, they should be nested under the original 7 classes. The original 7 classes will be fixed and user may only add nested classes. Column names for this tool would differ from the aforementioned tool

![imagem](https://user-images.githubusercontent.com/178003/159505698-93e0ecbd-c0a7-4ea9-bb22-6d9b3d04244f.png)

![imagem](https://user-images.githubusercontent.com/178003/1

[2022-03-22 14:36] #551 closed

[2022-03-23 19:06] MLNoon commented on #577
With Qv2, in Trends.Earth toolbar, we select the plot data icon.
![trends_earth_toolsbar_highlight_time_series_plot](https://user-images.githubusercontent.com/19840094/159776359-0129cbc6-88a6-446a-8550-687a99384cdf.png)
Then select AVHRR or MODIS, depending on time frame desired and resolution of dataset (example of AVHRR:)
![image](https://user-images.githubusercontent.com/19840094/159776456-1bc2

[2022-03-23 23:12] #546 closed

[2022-03-24 06:31] alexbruy commented on #572
Fixed and merged in f3f6f784fab896072618d799e9c65749d709ded8

[2022-03-24 06:31] #572 closed

[2022-03-24 06:39] alexbruy commented on #578
Actually it was broken from the very beginning, before any new dataset types were added, see #528

[2022-03-24 06:39] alexbruy commented on #528
Duplicated by #578.

[2022-03-24 06:39] #528 closed

[2022-03-24 08:59] gkahiu opened #581 "Error on Loading Plugin"
The plugin is failing to load for commit 52042d00d404d2bda91255dc91a9df4400d60d33 in `develop` branch. Am encountering the following error:

![image](https://user-images.githubusercontent.com/3840267/159879707-f47ff023-7ee0-4a76-a749-6e03807d1885.png)

[2022-03-24 12:03] azvoleff commented on #581
Looks like you’ll also need to upgrade `trends.earth-schemas` (@alexbruy added a new class there to handle the special areas tool).

[2022-03-25 05:35] alexbruy commented on #577
@MLNoon, @azvoleff how this tool should be exposed in the UI: in the same was as before by adding a button to the toolbar or in some other way?

[2022-03-25 06:20] gkahiu commented on #581
Thanks, its working now!

[2022-03-25 06:20] #581 closed

[2022-03-25 13:31] azvoleff opened #583 "Python error on buffering an areaofinterest"
Under the settings tool apply a buffer to any area of interest:

![Inkedqgis-ltr-bin_jG99rEPj4N_LI](https://user-images.githubusercontent.com/107753/160129787-d62fb054-8075-41b2-9163-8691e0e4faea.jpg)

Then open any algorithm and try to run it using that area of interest, and a Python error will come up:

[code]

I am running Qgis 3.22 - based on a quick search looks to be related to a [change in

[2022-03-25 15:57] azvoleff opened #584 "Add "open dataset" button for vector datasets"
Right now the button to open the dataset folder isn't showing for vector datasets:
![image](https://user-images.githubusercontent.com/107753/160156379-9e6abd64-a29f-4465-8ba5-76a2ac89dd02.png)

We need to add it, so it is similar to how it works for raster datasets:
![Inkedqgis-ltr-bin_zhzGD39mzf_LI](https://user-images.githubusercontent.com/107753/160156342-601fbf95-2bc2-471f-a8d6-6da0886d1acf.jp

[2022-03-25 16:03] azvoleff opened #585 "Charting of false pos/negative datasets isn't working"
I tried a test for Botswana (admin 2 region "North East"). When I enter a polygon I assume I should get a chart. I just get a blank chart though:

![image](https://user-images.githubusercontent.com/107753/160156950-cb8b5ae2-c0f7-4004-9a2f-1a141eb3e538.png)

Possible I am doing something wrong? This is on [25ae4c8](https://github.com/ConservationInternational/trends.earth/commit/25ae4c8b48258c6bf81

[2022-03-25 16:05] azvoleff commented on #585
Also I get a Python error on trying to save the vector:

![image](https://user-images.githubusercontent.com/107753/160157834-04355efb-8786-40e7-9065-8fe915f6bc50.png)

[2022-03-25 16:13] azvoleff opened #586 "Need to be able to re-load the layers user used for the false/positive negative tool"
After experimenting with the false positive/negative tool, I realize we need a way for users to easily add back to their map the raster layers that they referenced while generating the layer. One way to do this would be to modify the button used to add vector layers to the map. Right now it is a simple pushbutton:

![image](https://user-images.githubusercontent.com/107753/160159028-c68f95bf-1856-4

[2022-03-25 16:16] azvoleff commented on #577
I'd suggest a toolbar button in the main dock:

![image](https://user-images.githubusercontent.com/107753/160159379-4b9a8ba9-30cf-444f-a0c2-dc246a6b1bba.png)

Then the user could:

- click the button
- select a region/or a point
- click ok
- get back the plot once the results are ready from our API (with a QgsTask querying our API for results).

Alex

[2022-03-26 10:42] alexbruy commented on #585
Look like your rasters does not have valid pixel values: -1, 0 and 1 for degraded, stable and improved respectively.

[2022-03-28 12:59] azvoleff opened #587 "Popup regarding style "already exists in the database" for false pos/neg tool"
When adding a new false pos/negative layer, I get the following message when I start editing the layer:

![image](https://user-images.githubusercontent.com/107753/160402854-9966fbe5-de02-4a22-b2e6-d23642a83413.png)

Why does this message pop up? Can we avoid having the user see this message? It pops up up 8 times for me if I click "yes" each time.

Then when I try to add a new polygon I get:

`202

[2022-03-28 15:55] azvoleff opened #592 "Need to handle reporting on vector layers"
The new changes @alexbruy added to support special areas mean there is now a vector type. The reporting tool is trying to identify scope via the script name, which vector data doesn't have in the current implementation. I added [this fix](https://github.com/ConservationInternational/trends.earth/commit/36b7e37f3e84569eb658f6677db87fc8f456d924) so that adding vector data doesn't lead to an error be

[2022-03-28 17:35] azvoleff commented on #585
That doesn't seem to be the issue. There actually were a few layers that used different coding (forgot one is a percentage, and the other 1-5). But I fixed that issue in the [vector_charting branch](https://github.com/ConservationInternational/trends.earth/tree/vector_charting), and I still don't get any charts - just blank charts without any error message. It seems the `calculate_charts` function

[2022-03-28 17:42] azvoleff opened #593 ""Open layouts" button on reports tool not working"
There is a "Open layouts" button for the reports button now accompanying each dataset:

![image](https://user-images.githubusercontent.com/107753/160455917-7df68cd1-6223-43ae-8a11-b21ef6695330.png)

Which I click it however, nothing seems to happen. Can you look at this @gkahiu?

[2022-03-28 18:04] gkahiu commented on #593
Could you **Open report directory** and check whether there is a file with a _qgz_ extension? If present, does it have a QGIS icon associated with it? Can you try to open it by double clicking?

[2022-03-29 13:21] timlinux commented on #580
@alexbruy also note that the user should be able to nominate a colour for each of the new classes, so that e.g. the charting from John can pick up the color defined here.

[2022-03-29 13:30] timlinux commented on #580
@alexbruy if you have not already started on this item, please let us know and we can assign it to @gkahiu

[2022-03-29 13:34] #555 closed

[2022-03-29 13:35] #518 closed

[2022-03-29 13:36] timlinux commented on #530
Ticket pending some examples from CI.

[2022-03-29 13:37] timlinux commented on #531
Pending the resolution of #589, this issue can be closed

[2022-03-29 13:39] #538 closed

[2022-03-29 13:39] #539 closed

[2022-03-29 13:39] #540 closed

[2022-03-29 13:40] #541 closed

[2022-03-29 13:40] #542 closed

[2022-03-29 13:43] timlinux commented on #544
Duplicate of #530

[2022-03-29 13:43] #544 closed

[2022-03-29 13:43] azvoleff commented on #571
@gabrieldaldegan @MLNoon - can you update your progress here?

[2022-03-29 13:49] timlinux commented on #556
Implemented and working originally, broken - see  #585

[2022-03-29 13:49] #556 closed

[2022-03-29 13:51] #573 closed

[2022-03-29 13:54] #575 closed

[2022-03-29 13:54] #574 closed

[2022-03-29 13:56] #545 closed

[2022-03-29 15:15] azvoleff opened #594 "Add origin field to metadata with source information"
Related to https://github.com/eaudeweb/Prais4/issues/710

[2022-03-29 15:33] azvoleff opened #595 "Add option to change resampling approach"
Allow resampling to coarsest resolution rather than finest, keeping resampling to finest as the default

[2022-03-29 15:52] azvoleff opened #596 "Don't pass through datafiles on UNCCD reporting tool if affected areas only selected"

[2022-03-29 18:14] #584 closed

[2022-03-29 18:16] alexbruy commented on #585
`calculate_charts` runs fine and produce correct results, but these values are not saved to the attribute table for some reason. Without the values in the fields it is not possible to display charts

[2022-03-29 18:17] #578 closed

[2022-03-30 08:14] cjvandiemen commented on #558
When I try to delete a dataset with ID `201bde94-4d87-444e-8c55-0f256e8df0d9` I get the following error:

[code]

[2022-03-30 08:16] cjvandiemen commented on #558
When I try to delete dataset ID `2db4cc18-d14c-4977-b7aa-e7b104b34240` user: [chris.vandiemen@opengeohub.org](mailto:chris.vandiemen@opengeohub.org) I get the following error:

[code]

[2022-03-30 08:20] cjvandiemen opened #598 "T.E does not (re)start"
When I click the trends.earth icon in QGIS it switches 'off' when I click it again to turn it on again I get the following error:

[code]

Using T.E version [1.99.8](https://plugins.qgis.org/plugins/LDMP/version/1.99.8/) updated at ma feb. 21 12:45:17 2022.

software | version
-- | --
QGIS version | 3.24.1-Tisler
QGIS code revision | 5709b82461
Qt version | 5.15.2
Python version | 3.9.7
GDAL/OGR v

[2022-03-30 10:33] cjvandiemen commented on #598
I tried restarting and reinstalling the plugin also deleting the local data but the same error is coming up

[2022-03-30 11:51] azvoleff commented on #598
Thanks Chris. Do you still see this with the latest zipfile? (just note the latest zipfile has some partial fixes in it right now related to the false positive/negative tool, so while you'll see that new tool in there, it isn't yet fully functional)

[2022-03-30 20:58] azvoleff commented on #585
I fixed the issue with special areas datasets related to serializing/deserializing vector JSONs (that came up in https://github.com/ConservationInternational/trends.earth/pull/590 in https://github.com/ConservationInternational/trends.earth-schemas/commit/d5b91c21933a569e335a4f869833ca9648ef3601 (so you'll need to update trends.earth-schemas). But this issue still remains - I get no charts from th

[2022-03-30 21:34] azvoleff opened #600 "Fix edit vs add for vector layers"
Right now [`edit_special_area_layer`](https://github.com/ConservationInternational/trends.earth/blob/develop/LDMP/jobs/manager.py#L545) and [`display_special_area_layer`](https://github.com/ConservationInternational/trends.earth/blob/develop/LDMP/jobs/manager.py#L541) do the same thing.

- `edit_special_area_layer` should only enable/disable editing of a special area layer that is already present

[2022-03-31 06:08] #586 closed

[2022-03-31 11:43] cjvandiemen commented on #598
I tried reinstalling the T.E plugin using [the zip file](https://s3.amazonaws.com/trends.earth/sharing/LDMP_QGIS3.zip) from the repository. I get the following error:

[code]

[2022-03-31 11:54] azvoleff opened #601 "Optimize output file sizes from TE"
Two questions here:

1) what is possible within the confines of GEE (this is the key one given it is the only way to reduce download sizes), and
2) whether there are optimizations to be made in terms of the handling of local files to reduce file sizes (which could reduce upload sizes, but at possible expense of processing time)

[2022-03-31 11:58] azvoleff commented on #593
Yes, the .qgz file is there, but you are right - the problem is there is no file association for it. Is it possible to associate the qgz file with QGIS during the plugin installation? Or else can we pass the correct qgis executable path to the **open report directory** function directly?

[2022-03-31 11:59] azvoleff commented on #583
@timlinux - who would be best top assign this one to?

[2022-03-31 13:10] cjvandiemen commented on #598
I reinstalled the plugin from the zip file now I removed all the data that was on my drive. I now got the following message:

[code]

[2022-03-31 15:53] azvoleff commented on #598
I'm still not 100% sure this is the issue, but 4a06af041b487742bbeafcb543880fe82247c3a5 may address it. Can you try again with the latest zipfile (just pushed another new one).

[2022-04-03 18:15] azvoleff commented on #596
@boc84 - this should now be fully functional in the develop version of Trends.Earth

[2022-04-03 18:15] #596 closed

[2022-04-03 20:12] azvoleff opened #603 "Add false positive/negative charting API script"

[2022-04-04 09:04] boc84 commented on #596
This would be version 1.99.7?

[2022-04-04 17:38] #587 closed

[2022-04-04 17:56] gkahiu commented on #580
@azvoleff, just to make sure that I understand correctly:

1. We should allow adding of nested classes (in the window below):

![edit_definition](https://user-images.githubusercontent.com/3840267/161601832-effd855a-fe1d-4b6c-8c41-c8d9c9b8ee64.png)

OR

2. Allow adding additional parent land cover classes in addition to the core 7 ones in the window below. If so, which default values (-1, 0, 1) sho

[2022-04-04 19:20] azvoleff commented on #580
It is the second:

The tool to change the parent legend should be located on the trends.earth settings window, just above the "Trends.Earth login information" section (you will need to add a new section there).

The tool will be similar to the edit definition tool we have right now, but should allow users to add or remove rows, to select the color that should be assigned to new parent classes, and

[2022-04-04 20:03] azvoleff commented on #558
Fixed

[2022-04-04 20:03] #558 closed

[2022-04-04 20:04] azvoleff commented on #549
Fixed

[2022-04-04 20:04] #549 closed

[2022-04-04 20:04] azvoleff commented on #547
Done

[2022-04-04 20:04] #547 closed

[2022-04-04 20:08] azvoleff commented on #559
@gdaldegan can you check this? The three class column in our figure doesn't match the UNCCD one

[2022-04-04 20:15] azvoleff commented on #596
The current development version is 1.99.9 - but always good to update from the [latest zipfile](https://github.com/ConservationInternational/trends.earth#development-version-from-zipfile) or code itself.

When running a development version of the plugin, the version number itself isn't a reliable indicator of having the latest version of the code, as the plugin can change on the develop branch wit

[2022-04-05 11:03] azvoleff commented on #583
Fixed by #605

[2022-04-05 11:03] #583 closed

[2022-04-05 14:06] cjvandiemen opened #606 "Error when downloading data generated using older T.E version while using T.E version 1.99.9"
I am using the same account for testing different versions of T.E. I get the following error when I try to download data from an older version while using version 1.99.9

[code]

[2022-04-05 14:35] azvoleff commented on #606
@cjvandiemen can you try latest zipfile (just pushed)? It should just silently ignore any older jobs it can't understand with the latest code

[2022-04-05 19:36] azvoleff opened #609 "Font size on report outputs"
The font sizes on the simple maps are much larger than on the full maps:

**Full map**
![full_map_figure_sdg-1531-indicator-2005-2019_georgia-abkhazia](https://user-images.githubusercontent.com/107753/161835435-6f634dcb-814a-401f-a01d-e2c7fb89718d.png)

**Simple map**
![simple_map_figure_sdg-1531-indicator-2005-2019_georgia-abkhazia](https://user-images.githubusercontent.com/107753/161835515-bce54

[2022-04-05 19:42] azvoleff commented on #592
Thanks, confirm fixed in #604

[2022-04-05 19:44] azvoleff commented on #593
Actually one note @gkahiu - the open layout button works but on load I get:

![image](https://user-images.githubusercontent.com/107753/161836813-963f13dc-97b1-41a1-90a3-5e4537a25389.png)

"Auto-find" works, so I can still load. Then on load I get:

![image](https://user-images.githubusercontent.com/107753/161836890-b5af93bf-9a78-4a11-a4c5-570a2befb8ec.png)

Is there any way to automate these steps

[2022-04-05 21:38] gdaldegan opened #610 "update land productivity class definition to match UNCCD's"
Need to update the Productivity class definition on the Load a Custom Land Productivity Dataset to match UNCCD's class terminology:
 - Declining = 1
 - Moderate decline = 2
 - Stressed = 3
 - Stable = 4
 - Increasing = 5
 - No data = 0 or -3276

![update_productivity_classes_definiton](https://user-images.githubusercontent.com/22821787/161853982-db89a022-8a9c-4a26-bc0f-6b257e2e400b.png)
8

[2022-04-06 06:10] gkahiu commented on #593
Thanks @azvoleff for the feedback. See my responses below:

This issue is caused when the (relative) path to one or more datasets has been changed. In your case, it seems the folder for basemap layers might have been moved after the qgz file had been created. As the base layers are in the plugin folder, might you have moved your plugin folder from the time this project was created? To confirm, cou

[2022-04-06 07:56] cjvandiemen commented on #606
I tested the same approach using 1.99.9 revision 4eff1a98 and got the following result:

[code]
There are now datasets shown in the `datasets` tab

[2022-04-06 12:03] azvoleff commented on #598
Moved to #606

[2022-04-06 12:03] #598 closed

[2022-04-06 12:03] azvoleff commented on #606
Thanks, hadn't noticed that one - now fixed in latest zip

[2022-04-06 13:44] azvoleff commented on #593
Thanks @gkahiu.

No, I didn't change the location of the plugin or data folder

Yes, it still shows up.

As to the second issue I mentioned above (re the print layout title), it no longer appears (possible I'd accidentally hit create, sorry!).

[2022-04-06 15:18] gkahiu commented on #593
I have a possible fix  in a9ecf03da0a9400c8eaf45d179dc1730b11b4950 to use absolute data paths in the reports' project. Let me know if this resolves the issue.

[2022-04-06 18:48] azvoleff commented on #610
Thanks - @gdaldegan fixed in 25e65f676af7c32f08ed060d7055b92c75f00402

[2022-04-07 13:04] azvoleff commented on #585
The charting still isn't working on the latest version (even after merge of #600 and fix noted above for the issue noted in #590). Right now no charts come up during editing, and on clicking the edit button to stop editing a layer, I get:

![image](https://user-images.githubusercontent.com/107753/162205271-157d843c-63cf-4a8f-be63-3ab47443ea0b.png)

[2022-04-07 14:06] azvoleff commented on #593
Yes - that fixes it. Thanks!

[2022-04-07 14:06] #593 closed

[2022-04-07 14:07] azvoleff commented on #606
@cjvandiemen - just let me know when you have a chance to test. If now working for you then I'll close this issue.

[2022-04-07 14:13] #592 closed

[2022-04-07 14:18] #554 closed

[2022-04-07 14:22] timlinux commented on #577
@alexbruy could you take a look at this over the next week or two, or transfer this to @gkahiu if you are not able to spend time on this?

[2022-04-07 14:24] timlinux opened #613 ":book: We need to automate the publishing of documentation changes"
Using github actions to build and push straight to RTD

[2022-04-08 22:28] paulterinho opened #614 "AttributeError: ReverseTransform"
Hi all,

I'm not able to submit a request to "Urban Change and Land Consumption Inidcators" using the Calculator. Both options end in the same error (the "calculate urban change spatial layers", and "Calculate urban change summary table...") in Windows, Mac, or Linux. All result in a `AttributeError: ReverseTransform`

To reproduce:
- QGIS 3.24 or 3.22 (Long term)
- Python 3.8
- Keep all the defau

[2022-04-11 12:18] #606 closed

[2022-04-12 13:15] azvoleff opened #616 "Fix dark theme issues"

[2022-04-12 13:19] azvoleff opened #617 "Fix cutoff text on password gui windows in settings"
![image](https://user-images.githubusercontent.com/178003/162971657-421786b9-31dd-4b2b-9540-8dfd3fb386c4.png)

On fedora 35 / linux

[2022-04-12 13:22] timlinux opened #618 "Text cut off on settings page button"
![image](https://user-images.githubusercontent.com/178003/162972141-46498e77-d7cd-4a4d-9fce-6acfc90961db.png)

[2022-04-12 13:47] #609 closed

[2022-04-12 13:51] #532 closed

[2022-04-12 21:15] gdaldegan opened #619 "Load dataset onto QGIS map area not working for custom data"
Apparently the 'Load dataset onto QGIS map area' function does not work when LP, LC or SOC sub-indicators are calculated using custom local data
![custom_data](https://user-images.githubusercontent.com/22821787/163055730-176d6c2a-6d72-4a4a-8271-8c2263ee86d7.png).

Not sure if this has been fixed already, given I'm not using the latest version of Trends.Earth.

[2022-04-12 22:13] azvoleff commented on #619
Hmm... should be working but not sure. @gdaldegan if you add one of those as a zipfile here I'll try it on mine

[2022-04-13 14:19] azvoleff commented on #498
No longer applies

[2022-04-13 14:19] sebjwallace commented on #318
@luipir solution works.

Download the latest ZIP release here
https://github.com/ConservationInternational/trends.earth/releases

Unzip it and open this file in any text or code editor: calculate_numba.py
Go to line 130 and replace the '4' to ':' so it looks like this:
'f4[:](i2[:,:], b1[:,:], f4[:,:])'

Zip the LDMP folder up again and install it as a ZIP from the plugins manager.

[2022-04-13 14:20] azvoleff commented on #533
@timlinux - this is another issue to chat on next week pending progress on other tasks

[2022-04-13 14:27] azvoleff commented on #130
Also see #595

[2022-04-13 14:30] azvoleff opened #620 "Move all network access to QgsNetworkAccessManager"
Currently `requests` is used for all network access. Shift to using [`QgsNetworkAccessManager`](https://qgis.org/pyqgis/3.6/core/QgsNetworkAccessManager.html).

Will fix #206.

[2022-04-13 14:31] azvoleff commented on #213
@gdaldegan - let's chat on this. Would be nice to have the combined SDG layer returned from the one step tool rather than requiring it be computed locally if GEE is used. Not a priority for now, but something to consider down the road

[2022-04-13 14:33] azvoleff commented on #268
@gdaldegan I believe this is done. Can you confirm or else either let me know if we should still do this, or close if no longer relevant?

[2022-04-13 14:33] azvoleff commented on #276
@gdaldegan - is this still relevant?

[2022-04-13 14:34] #273 closed

[2022-04-13 14:35] azvoleff commented on #279
@gdaldegan @MLNoon I'm assuming this is resolved. If not, please reopen.

[2022-04-13 14:35] #288 closed

[2022-04-13 14:38] azvoleff commented on #318
Thanks @sebjwallace. This is fixed in the development version and we'll be making a new release from that code (on the develop branch right now) soon. That will also bring in a host of other bugfixes and new features. In the interim I'll leave this open as we may make one more final release of the old 1.0 branch of trends.earth.

[2022-04-13 14:39] azvoleff commented on #323
@mlnoon - did you seen this as an issue while testing the carbon tool for the docs revisions?

[2022-04-13 14:40] #325 closed

[2022-04-13 14:40] azvoleff commented on #326
No longer relevant

[2022-04-13 14:40] #326 closed

[2022-04-13 14:41] #330 closed

[2022-04-13 14:42] azvoleff commented on #338
No longer relevant, as added affected areas checkbox (#562) instead

[2022-04-13 14:42] #338 closed

[2022-04-13 14:43] azvoleff commented on #339
@gdaldegan @MLNoon - is this still an issue?

[2022-04-13 14:43] azvoleff commented on #249
No longer relevant

[2022-04-13 14:43] #249 closed

[2022-04-13 14:44] azvoleff commented on #303
Done

[2022-04-13 14:44] #303 closed

[2022-04-13 14:49] azvoleff commented on #520
This is an error related to numba. The error message says you are missing a compiler it needs. Are you running python from Anaconda? If so suggest running the command it indicates:

`conda install clang_osx-64 clangxx_osx-64`

That would let you use just-in-time compilation through numba (which will let summaries, etc., generate faster in Trends.Earth). Either way though we need to add something t

[2022-04-13 16:06] gdaldegan commented on #619
sharing as attachment
[uganda_custom_soc.zip](https://github.com/ConservationInternational/trends.earth/files/8482959/uganda_custom_soc.zip)

[2022-04-13 17:19] azvoleff commented on #619
Looks like it works on the current version:

![image](https://user-images.githubusercontent.com/107753/163235363-7ec40ecf-c218-429b-8058-9ba5eead9825.png)

[2022-04-13 17:19] #619 closed

[2022-04-13 17:27] azvoleff commented on #523
Fixed a few weeks back - no longer relevant

[2022-04-13 17:27] #523 closed

[2022-04-13 17:28] azvoleff commented on #522
@gdaldegan - do you still see this (whenever you get on the latest version)?

[2022-04-13 17:34] azvoleff commented on #524
The GUIs that come up for bottom 3 options on this button:

![image](https://user-images.githubusercontent.com/107753/163237362-a36ea190-1209-4efe-94cd-4f2b545d685e.png)

need to each have the `Change region` control added to them. That button looks like this in the other tool windows:

![image](https://user-images.githubusercontent.com/107753/163237502-f24b7856-4e0a-4e44-9018-798cbcc41264.png)

T

[2022-04-13 18:14] gdaldegan commented on #522
just installed the latest exp. version on QGIS 3.22 and got the same message
![te_error](https://user-images.githubusercontent.com/22821787/163244106-14ba804f-c274-4c13-9d55-0dbeae59febe.PNG)

[2022-04-13 19:41] sebjwallace commented on #502
@[azvoleff](https://github.com/azvoleff) do you know if a fix is already in for this? Else I can create a PR.

[2022-04-14 13:29] azvoleff commented on #614
This is fixed in the latest develop version (was #583). Right now it is only available via installing from [the development zipfile or from source](https://github.com/ConservationInternational/trends.earth#installation-of-development-version-of-plugin), but we'll put up a new version (experimental pending final release of plugin v2.0) in the QGIS repo early next week.

[2022-04-15 18:10] azvoleff commented on #619
Fixed in d5e8dbf0a79d85ade806561cc86f88d2af113ae8

[2022-04-19 22:49] gdaldegan commented on #557
@azvoleff this issue is still happening on the latest version, Productivity, SOC and Land Cover tabs are not correctly populated

[2022-04-19 23:58] gdaldegan opened #621 "Include 'No Data' in Land Cover Edit Definition"
currently 'no data' is not available in the list of land cover classes
![lc_list](https://user-images.githubusercontent.com/22821787/164120093-91200652-c8df-4dfb-9202-3e607c4e5ebc.png)

[2022-04-20 00:17] gdaldegan opened #622 "python error when importing custom LC data"
getting the following error when importing a custom land cover dataset
![custom_lc_error](https://user-images.githubusercontent.com/22821787/164121685-7b5cb2ee-e8c0-4da9-9e8e-eb9d7c7b93c2.png)

[2022-04-20 17:36] azvoleff commented on #622
Can you post a screenshot of the Trends.Earth about page (from clicking on the red Trends logo in QGIS)?

[2022-04-20 17:37] azvoleff commented on #621
Whoops. Should be

[2022-04-20 17:38] gdaldegan commented on #622
![te_version](https://user-images.githubusercontent.com/22821787/164290048-58025f57-9f2f-434a-90dd-064d9d774481.PNG)

[2022-04-20 17:38] azvoleff commented on #579
And one more trace, which came up during a background update of the trends.earth datasets window. Unforrtunately not too much in this one:

## User Feedback

QGIS open to Trends.Earth plugin page. Update of dataset status proceeding in background.

## Report Details

**Python Stack Trace**
[code]

**Stack Trace**
No stack trace is available.

**QGIS Info**
QGIS Version: 3.24.0-Tisler
QGIS code rev

[2022-04-20 20:30] azvoleff commented on #622
😕 so I can't blame it on an old version...

[2022-04-20 20:33] azvoleff opened #623 "Issue with tiling for large countries"
I noticed that it looks like the data isn't coming out of GEE correctly for some large countries. For example, see what I got for Brazil:

![full_map_figure_productivity-state-degradation-2001-2012-vs-2013-2015_brazil-all-regions](https://user-images.githubusercontent.com/107753/164317838-bff49e46-618e-466e-af63-6cadbd802ffa.png)

Some tiles are missing. @gdaldegan - have you seen anything recentl

[2022-04-20 20:49] gdaldegan commented on #623
no recent news on that issue: https://issuetracker.google.com/issues/186412979?pli=1
didn't find recent messages on the GEE dev group related to issue with COGs

[2022-04-20 23:28] gdaldegan opened #624 "python error when running Drought vulnerability summary table"
getting the following error when hitting Execute locally on Summarise drought indicators dialog

![drought_error](https://user-images.githubusercontent.com/22821787/164340916-70595080-b2d8-410b-b3c6-3b4683e8525d.PNG)

[2022-04-21 01:01] azvoleff commented on #624
Fixed in dc1b5b38, and now in current zipfile

[2022-04-21 01:01] #624 closed

[2022-04-21 13:17] azvoleff opened #625 "Add note to readme for Linux users re Plotly"
`plotly` is now a dependency. It is shipped with QGIS for Mac/Win, but Linux users will need to install. Add a note to the readme saying this

[2022-04-21 13:19] timlinux commented on #616
Some hints may be found at : https://github.com/qgis/QGIS/issues/47065

See also amelioration approaches like this:

https://github.com/qgis/QGIS/pull/47110/files

[2022-04-21 13:22] timlinux commented on #613
https://github.com/ammaraskar/sphinx-action

[2022-04-22 14:06] andersan commented on #507
@azvoleff is this still a priority? I'm looking for a good first issue to tackle on this project.

[2022-04-25 15:06] gkahiu commented on #580
Added in PR #626

A few implementation notes:

1. It is dependent on [this](https://github.com/ConservationInternational/trends.earth-schemas/pull/4) PR in [trends.earth-schema](https://github.com/ConservationInternational/trends.earth-schemas) repo;
2. Upon adding custom land cover classes (by clicking OK), the module updates the land degradation transition matrix and land cover nesting in the pl

[2022-04-25 19:33] gdaldegan opened #627 "Python error when running Drought vulnerability summary table"
![drought_error_2](https://user-images.githubusercontent.com/22821787/165160939-9431b8b3-01e2-4783-ba6d-a07c54a9e8d8.PNG)

[2022-04-25 20:49] gdaldegan opened #628 "Font size too small on Generate data package for UNCCD reporting function"
Description font size is too small for reading:
![sdg15_lpd_unccd_reporting_COL](https://user-images.githubusercontent.com/22821787/165172492-55b49bc7-c1b3-45a2-9a44-b347af00ea24.PNG)

[2022-04-26 01:24] #559 closed

[2022-04-26 06:29] gkahiu commented on #616
Cannot reproduce, the text is readable in my Windows installation:

![image](https://user-images.githubusercontent.com/3840267/165235884-8b2dfb3c-d91e-43b0-be4c-5ab0312a8fc4.png)

[2022-04-26 14:35] gkahiu commented on #531
Hi @timlinux I think this should was the one related to @alexbruy's PR.

[2022-04-27 20:03] gdaldegan opened #631 "Python error when importing existing trends.earth output file"
![import_error](https://user-images.githubusercontent.com/22821787/165621635-de3ecab1-cf06-4b94-938c-71cd38d0041b.PNG)

[2022-04-27 21:42] azvoleff commented on #631
@gdaldegan - can you post the file that gave you this error?

[2022-04-27 21:47] azvoleff commented on #622
@gdaldegan I can't reproduce this. Can you confirm you still see this on the latest zipfile? And if so, can you post the file giving an issue?

[2022-04-27 21:48] azvoleff commented on #621
Fixed in 3acf2f9.

[2022-04-27 21:48] #621 closed

[2022-04-27 21:48] azvoleff commented on #627
Should be fixed by df2304d. @gdaldegan can you confirm this is working for you now?

[2022-04-27 21:49] #618 closed

[2022-04-27 21:49] #617 closed

[2022-04-27 22:19] gdaldegan commented on #622
getting these now:
![custom_lc_error3](https://user-images.githubusercontent.com/22821787/165640697-faed53cd-fdf7-4023-8b1b-0ba36f7162ed.PNG)

![custom_lc_error4](https://user-images.githubusercontent.com/22821787/165640721-13bcab07-f125-47f6-a5b9-fba80da3f69d.PNG)

![te_version](https://user-images.githubusercontent.com/22821787/165640747-e506b4f5-22db-4f62-a412-7b0ee5b3ffb8.PNG)

[2022-04-27 23:22] gdaldegan commented on #631
GitHub is not allowing me to post it here, sent via Teams

[2022-04-28 05:01] AravindSathya commented on #206
Hi
I am having a problem while registering trends.earth. I've added mail ID and it is not sending the password to my mail. Can anyone tell me why s this happening?
Thank you.

[2022-04-28 11:56] azvoleff commented on #206
@AravindSathya - have you checked your spam folder? Sometimes the password will end up there.

[2022-04-28 16:11] gdaldegan commented on #627
yep, Drought Summary running without triggering any error. However, the output summary spreadsheet doesn't look right, as all land and population are reported under the Non-Drought class, which does not seem correct overlaying the maps - ran it only for Colombia so far
[drought-vulnerability-summary_colombia-all-regions-buffer-10.000_summary.xlsx](https://github.com/ConservationInternational/trend

[2022-04-28 21:07] gdaldegan opened #632 "python error when trying to run Land Cover Change remotely"
2022-04-28T14:04:52     WARNING    Traceback (most recent call last):
              File "C:\Users/gdaldegan/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\LDMP\lc_setup.py", line 180, in rowCount
              return len(self.nesting.child.key_with_nodata())
             AttributeError: 'LCLegend' object has no attribute 'key_with_nodata'

2022-04-28T14:04:52     WARNING    Traceback

[2022-04-29 12:58] azvoleff commented on #632
Hmm. Try again @gdaldegan, I must have not pushed it completely

[2022-04-29 13:23] azvoleff commented on #632
Whoops, sorry. I do see this. Will look into it and get back to you

[2022-04-29 13:28] #632 closed

[2022-04-29 15:00] azvoleff commented on #631
Thanks. I don't get a Python error, but on mine it doesn't correctly pick up the path for the data so you can't add it to the map. Looking into it

[2022-04-29 16:40] gdaldegan commented on #622
tested both running Land Cover remotely and importing custom lc, everything went smoothly.

[2022-04-29 16:41] #622 closed

[2022-04-29 20:19] gdaldegan commented on #579
got this one when moving QGIS from laptop screen to external screen

Stack Trace

QPainter::drawPixmap :
PyInit_QtGui :
PyArg_ParseTuple_SizeT :
PyEval_EvalFrameDefault :
PyObject_GC_Del :
PyFunction_Vectorcall :
PyFloat_FromDouble :
PyVectorcall_Call :
PyObject_Call :
PyInit_QtWidgets :
QTreeView::drawRow :
PyInit_QtWidgets :
QTreeView::drawTree :
QTreeView::paintEvent :
PyInit_QtWidgets :
QWidge

[2022-05-03 13:45] azvoleff commented on #557
Fixed by https://github.com/ConservationInternational/trends.earth-algorithms/commit/8d1175f2ba4e7a4522b02bc133c13a055fe244c3

[2022-05-03 13:45] #557 closed

[2022-05-03 13:58] azvoleff commented on #627
Thanks, looking into this

[2022-05-03 15:32] gkahiu commented on #628
Unable to reproduce in both 1080 and 4K resolutions. However, my description seems to be different...

![image](https://user-images.githubusercontent.com/3840267/166484989-0a2002b5-3557-42ea-9520-3a60c497c52e.png)

Which commit are you running?

[2022-05-03 17:17] #614 closed

[2022-05-03 18:10] gkahiu commented on #580
The custom classes should show in the transition matrix, see example below:

![LC Custom Legend](https://user-images.githubusercontent.com/3840267/166510616-ee5fb813-ed56-4170-8f3d-69ce21f0d7db.png)

Most likely then it is not syncing with the transition matrix in the settings. Could you check the logs to see if [this](https://github.com/ConservationInternational/trends.earth/pull/626/files#diff-5

[2022-05-03 18:10] gdaldegan commented on #628
current version i'm running:
![te_version](https://user-images.githubusercontent.com/22821787/166515830-3a3443de-486b-4427-93d1-8bf22482d722.PNG)

Just checked the description:
![font_size](https://user-images.githubusercontent.com/22821787/166515945-3180b792-5ed3-43f9-8ece-0846a59b01f0.PNG)

[2022-05-03 21:06] azvoleff commented on #580
No, I don't get any log messages on pressing OK. The only related log message I see is if I clear the classes I added and and then reopen the settings dialog, in which case I see `No land cover classes in settings.`. The classes are retained on closing/opening QGIS as well but still don't populate in the transition matrix

Yes

Yes

[2022-05-04 10:26] gkahiu commented on #580
I have slightly revised the PR to include additional log messages when saving custom classes. Could you update and send me the log messages when you save the settings? The messages will have a _Custom Land Cover -_ prefix.

I have also updated the related PR in the **te_schemas** repo to fix an issue of updating land cover classes since the class is marked as Frozen.

[2022-05-05 00:33] azvoleff commented on #580
Thanks. Now I get a `ValidationError` on loading the "Sub-indicators for SDG 15.3.1" tool after editing the classes. I set the following classes:

![image](https://user-images.githubusercontent.com/107753/166848172-0c1af78a-17a8-46fb-9dda-63feb183d895.png)

The classes save fine. Then on loading the SDG tool I get the `ValidationError`. The body of the exception is:
`{'_schema': ["Meaning of trans

[2022-05-05 11:01] gkahiu commented on #580
Thanks @azvoleff, I have updated the PR as well as the one for schemas. It should be fixed now, let me know if it works as expected.

I have also incorporate the change above by:

- Showing the default 7 classes on first time use;
- Having the option of restoring the default 7 classes instead of clearing the table.

In addition, the module will not allow a user to delete all classes. It will ensur

[2022-05-05 11:37] gkahiu commented on #613
@azvoleff I noticed there is already an existing integration in RTD - [https://trendsearth.readthedocs.io/en/latest/](https://trendsearth.readthedocs.io/en/latest/) - though with some build issues.

Is it possible to get admin access to the dashboard?

[2022-05-05 13:17] timlinux commented on #613
@azvoleff to check on RTD for us please

[2022-05-05 13:18] #628 closed

[2022-05-05 13:35] gkahiu commented on #579
![tasks_threading](https://user-images.githubusercontent.com/3840267/166933929-761a3bb8-03f6-4a9c-ab78-89e8b171b914.png)

Since QMessageLog is based on QObject and the static method `logMessage` call initializes it in the main thread, then there is a high likelihood calling `logger.log` in background threads - through the workers or QgsTask subclasses - is causing the crashes. I will remove the re

[2022-05-05 13:42] azvoleff commented on #579
But the calls to `logger.debug` [here](https://github.com/ConservationInternational/trends.earth/pull/634/files#diff-1cd0970f5a564e14ded4e7ef92358bda62925fa91d26e2e17108f92fb7b3fdbbL151) are [calling python's `logging` module](https://github.com/ConservationInternational/trends.earth/blob/develop/LDMP/jobs/manager.py#L46). Those I believe [are threadsafe](https://docs.python.org/3/library/logging.

[2022-05-05 16:43] gdaldegan opened #635 "Python error when resampling custom land cover data"
Both @boc84 and I got the following Python error message when importing a custom land cover dataset and setting Modify resolution (in meters) option:

TypeError: Wrong number or type of arguments for overloaded function 'new_CoordinateTransformation'.   Possible C/C++ prototypes are:     OSRCoordinateTransformationShadow::OSRCoordinateTransformationShadow(OSRSpatialReferenceShadow *,OSRSpatialRefe

[2022-05-05 17:15] #631 closed

[2022-05-05 17:16] azvoleff commented on #155
Done.

[2022-05-05 17:18] azvoleff opened #636 "Fix import of LC defined in a shapefile"
Noted in #522 by @gabrieldaldegan:

![te_error](https://user-images.githubusercontent.com/22821787/163244106-14ba804f-c274-4c13-9d55-0dbeae59febe.PNG)

[2022-05-05 17:18] #522 closed

[2022-05-05 17:20] azvoleff commented on #24
No longer relevant on Trends 2.0

[2022-05-05 17:20] #24 closed

[2022-05-05 17:52] azvoleff commented on #635
Yep, me too. Will look at it, probably easy fix

[2022-05-05 18:05] #635 closed

[2022-05-05 18:09] azvoleff commented on #636
`TypeError: unsupported operand type(s) for +: 'set' and 'list'
Traceback (most recent call last):
File "C:\Users/gdaldegan/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\LDMP\lc_setup.py", line 756, in agg_edit
self.load_agg(
File "C:\Users/gdaldegan/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\LDMP\lc_setup.py", line 684, in load_agg
values = values + [child_nodata_code

[2022-05-05 18:49] azvoleff opened #637 "Fix title for productivity status layer to refer to correct period"
![image](https://user-images.githubusercontent.com/107753/167003700-b3c32890-b4e5-444a-afdd-f563caf69b0f.png)

[2022-05-05 18:50] azvoleff commented on #637
Should read "2005-2019", not "2015-2019"

[2022-05-05 18:51] azvoleff commented on #637
Same issue for the TE layer

![image](https://user-images.githubusercontent.com/107753/167003912-74316ddd-4ec8-4a66-9ab3-fb2351a5fb79.png)

[2022-05-05 18:52] azvoleff opened #638 "Allow setting TE dates separately for each period"
![image](https://user-images.githubusercontent.com/107753/167004156-429c6609-f85d-411b-8a0f-71dca38f25e1.png)

[2022-05-05 20:02] azvoleff commented on #579
Here is a more useful trace - I wasn't doing anything other than having a dialog box (for the SDG Indicator) open.

## Report Details

**Python Stack Trace**
[code]

**Stack Trace**
No stack trace is available.

**QGIS Info**
QGIS Version: 3.24.0-Tisler
QGIS code revision: 6b44a42058
Compiled against Qt: 5.15.2
Running against Qt: 5.15.2
Compiled against GDAL: 3.4.1
Running against GDAL: 3.4.1

**

[2022-05-05 21:38] gdaldegan opened #639 "inconsistent Total Land Area reported on the Land Cover tab of the SDG 1531 summary table"
![lc_summary](https://user-images.githubusercontent.com/22821787/167029834-761e8870-258a-493f-ae8f-23ae2626ccde.PNG)

[2022-05-06 19:30] azvoleff commented on #638
Done. Implemented in 61f999bc53dba8f35ad5ce378723fb134cb1ff39

[2022-05-06 19:30] #638 closed

[2022-05-07 00:43] azvoleff commented on #627
@gdaldegan Can you try this again with the latest zipfile version? I can't seem to reproduce this.

[2022-05-07 00:43] azvoleff commented on #639
@gdaldegan I can't reproduce this on the latest version. Possible it was fixed the band ordering issue fixed a few days ago. Can you try again and see if you still see this?

[2022-05-08 19:16] azvoleff commented on #636
@gdaldegan can you send me the shapefile and legend you have been using for testing this?

[2022-05-08 19:18] azvoleff opened #640 "Fix productivity chart in reports"
Current chart is hard to interpret - change it to show landcover breakdown by productivity status

[2022-05-09 13:16] azvoleff opened #641 "Python error during reports generation"
On QGIS 3.24 on Ubuntu 18.04 I get a Python error during reports generation:

`2022-05-09T09:13:38     WARNING    Traceback (most recent call last):
              File "/home/azvoleff/.local/share/QGIS/QGIS3/profiles/default/python/plugins/LDMP/reports/generator.py", line 1219, in on_task_status_changed
              self.remove_task_context(ctx)
              File "/home/azvoleff/.local/share/QGI

[2022-05-09 14:07] azvoleff commented on #579
Almost there. One more it looks like:

Python Stack Trace
Windows fatal exception: access violation

Thread 0x00001354 (most recent call first):
  File "C:\OSGeo4W\apps\Python39\lib\subprocess.py", line 1470 in _wait
    result = _winapi.WaitForSingleObject(self._handle,
  File "C:\OSGeo4W\apps\Python39\lib\subprocess.py", line 1189 in wait
    return self._wait(timeout=timeout)
  File "D:\Documen

[2022-05-09 20:25] gdaldegan opened #642 "sdg15.3.1 one step sub-indicators disabled"
Schedule remote execution button appears faded out, with that I'm unable to run the sub-indicators in one step function:
![one_step_disabled ](https://user-images.githubusercontent.com/22821787/167491556-d7861848-b01d-4891-ae5d-8a9d2802b358.png)

[2022-05-09 21:06] azvoleff commented on #642
@gkahiu - could this be related to the shift of the code that was done for the remote updating (due to a fix for #579)? I think there are a few points in there that may disable scheduling new jobs during updates. Maybe not getting re-enabled again?

[2022-05-10 00:36] gdaldegan opened #643 "Nesting of land cover legend for imported local custom data"
I don't think Trends.Earth should have the rule below, given it is quite common to have distinct land cover classes between the initial and final layers.
![nesting](https://user-images.githubusercontent.com/22821787/167520022-129ac028-1fbb-4520-bf6f-466640faa5b7.png)

[2022-05-10 20:39] gdaldegan opened #645 "Python error when running Sub-indicators for SDG 15.3.1"
I'm getting the error below when running all sub-indicators in one step - although the jobs are successfully submitted and finished, returning data for all sub-indicators.

2022-05-10T13:35:41     WARNING    Traceback (most recent call last):
              File "C:\Users/gdaldegan/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\LDMP\main_widget.py", line 302, in refresh_after_cache_upda

[2022-05-10 21:00] gdaldegan opened #646 "wrong bands for Baseline & Progress Period - Sub-indicators SDG 15.3.1 function"
Looks like resulting bands for Land Cover and SOC of Baseline & Progress are inverted and/or mixed up. After running all sub-indicators in one-step, I get the following list of bands for Baseline (2000-2015):

![bsln](https://user-images.githubusercontent.com/22821787/167720711-343188cf-6b38-414d-8579-6e395ac61412.png)

and this list of band for Progress (2015-2019):

![pgrs](https://user-images.g

[2022-05-10 21:05] gdaldegan commented on #646
Then it also gets mixed up when running Indicator for SDG 15.3.1:
![bsln_pgrs](https://user-images.githubusercontent.com/22821787/167721719-84bba351-0e3e-420e-8ce8-d01d1375d9d6.png)

[2022-05-11 10:05] azvoleff commented on #646
Thanks. Which version is this on? I fixed this over the weekend (it's related to the presets), but may not have pushed it.

[2022-05-11 16:01] gkahiu commented on #613
The build is now passing, see a temporary link [here](https://trendsearth--647.org.readthedocs.build/en/647/). I have set `develop` as the _latest_ branch but you can also modify to any other branch. Once you release, then you can specify the tag for the _stable_ version.

I have enabled the `Build pull requests for this project` option for testing purposes, otherwise please feel free to disable i

[2022-05-11 16:48] gdaldegan commented on #646
I downloaded the latest version and it looks good! thanks!

![te_version](https://user-images.githubusercontent.com/22821787/167903856-f0f210af-03b2-4047-94c5-3594c407115f.png)

[2022-05-11 17:31] #641 closed, assigned to gkahiu

[2022-05-11 20:01] azvoleff commented on #579
And another, similar to what I saw before:

## Report Details

**Python Stack Trace**
[code]

**Stack Trace**
No stack trace is available.

**QGIS Info**
QGIS Version: 3.24.0-Tisler
QGIS code revision: 6b44a42058
Compiled against Qt: 5.15.2
Running against Qt: 5.15.2
Compiled against GDAL: 3.4.1
Running against GDAL: 3.4.1

**System Info**
CPU Type: x86_64
Kernel Type: winnt
Kernel Version: 10.0.1

[2022-05-11 21:16] azvoleff commented on #613
Thanks John! Looks fine to me, but @MLNoon and @gabrieldaldegan can you check here https://trendsearth.readthedocs.io/en/latest/ and let us know if you see any issues? That page should have the latest development version of the docs.

[2022-05-12 09:00] #646 closed

[2022-05-12 10:57] gkahiu commented on #579
Thanks @azvoleff! Not sure exactly what might be the cause but it might be related to different threads attempting to access the same `Job` object i.e. the main UI thread (perhaps when refreshing the dataset widget) and that for the `LocalJobTask` object. Seems its specific to the `summarise_land_degradation` algorithm. Am unable to replicate it but could you check to see if other local algorithms

[2022-05-12 11:41] azvoleff commented on #579
Thanks looks correct. I think I've gotten if fixed (made sure to pass a copy of the job, and fixed so the few lines that are modifying it are in the main thread). I'll push this shortly @gabrieldaldegan so you can test (this should fix #645).

[2022-05-12 11:43] azvoleff commented on #643
Can you tell me more what scenario we'd need this for @gdaldegan? My thought would be that if you have two different legends, then you shouldn't be calculating change among the two layers - I'm not sure how you'd know whether any "change" is due to actual change on the land, a change in class name between the two legends, or a change in class definition between the two legends.

[2022-05-12 11:44] azvoleff opened #648 "Reports being run repeatedly"
@gkahiu - I've noticed that the reports seem to get repeatedly run - messages pop up in the QGIS message bar saying that reports are running a few times a minute, even when the reports are already finished for a particular job. There are also a good number of warnings in the python warnings tab of the message bar (they are all identical so I've just posted two here):

[code]

There are also a good

[2022-05-12 12:13] azvoleff commented on #579
@gkahiu - I'm actually still getting this, even after confirming that the job object is never accessed/modified in the thread. Is it possible there is any link to recent changes in the reports function / fixes to address the crashes that were arising due to the way the job manager was refreshing? First I started seeing these crashes was last Fri.

**Python Stack Trace**
Windows fatal exception: ac

[2022-05-12 12:58] gkahiu commented on #579
Ok, let me see if I can replicate and correlate with the changes to the report fixes.

[2022-05-12 17:27] gdaldegan commented on #643
I'm trying to run Land Cover Change sub-indicator using imported custom LC layers for a small subset of the Colombian Amazon region.
Importing LC 2000, the original data doesn't have the class 13
![lc_2000](https://user-images.githubusercontent.com/22821787/168130570-7ebbab96-f966-4e91-9069-9181f750dfb8.png)

Class 13 is a non-forest natural vegetation, which in my interpretation likely represents

[2022-05-12 17:28] gkahiu commented on #648
@azvoleff, for which algorithm and country/region are you getting this error?

[2022-05-12 18:43] gdaldegan commented on #579
QGIS keeps crashing when tryin to run Indicator for SDG 15.3.1 or Drought vulnerability summary table

using the version below:
![te_version](https://user-images.githubusercontent.com/22821787/168145851-425c95cf-374d-4711-a888-d50fc4919644.png)

[2022-05-13 11:46] azvoleff commented on #648
It is for SDG 15-3-1 for Botswana, subregion Francistown. The zip of the data folder [is here](https://github.com/ConservationInternational/trends.earth/files/8686748/d7a36299-c94a-466c-90ce-b61ad3a9e7e7.zip).
.

[2022-05-16 11:32] gkahiu commented on #648
Can't reproduce, maybe its related to the thread crash issue...?

Could you enable report logs in the settings dialog:

![image](https://user-images.githubusercontent.com/3840267/168582957-06062279-9c62-4540-a047-5602894504c6.png)

Then copy the contents of the contents of the html file in the reports folder?

![image](https://user-images.githubusercontent.com/3840267/168583431-2569bdec-83ca-4ad5-

[2022-05-16 16:35] azvoleff commented on #648
Thanks - I've tracked this down. It is related to [a change in trends.earth-algorithms](https://github.com/ConservationInternational/trends.earth-algorithms/commit/9ba0a15dcb3bc42c7d71b6e7b88bf455c95b0a08) that led to a parameter getting dropped that is needed for the reports. This one is on me!

Thanks for pointing out the report logging option, I hadn't seen that - the html let me figure it out.

[2022-05-16 19:29] azvoleff commented on #648
Fixed by 1bb6f114

[2022-05-16 19:29] #648 closed

[2022-05-17 16:05] gdaldegan commented on #579
The issue above is still happening when running Indicator SDG 15.3.1 on the latest TE commitment:
![te_version](https://user-images.githubusercontent.com/22821787/168857347-3a9b82e1-f4cd-4690-a09f-e66c076ea47e.png)

Unfortunately the report does not tell us much

[2022-05-21 16:02] azvoleff commented on #579
One more - looks like the local state is getting updated from two separate threads at the same time:

Python Stack Trace
Windows fatal exception: access violation

Thread 0x0000655c (most recent call first):
  File "D:\Documents and Settings/azvoleff/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\LDMP\jobs\manager.py", line 87 in _get_extent_tuple_vector
    rect = QgsVectorLayer(str(p

[2022-05-25 10:54] gdaldegan opened #650 "Syntax error"
Getting the following error when trying to install the latest Zipfile version

Couldn't load plugin 'LDMP'

SyntaxError: invalid syntax
Traceback (most recent call last):
  File "C:\PROGRA~1/QGIS32~1.6/apps/qgis-ltr/./python\qgis\utils.py", line 401, in loadPlugin
    __import__(packageName)
  File "C:\PROGRA~1/QGIS32~1.6/apps/qgis-ltr/./python\qgis\utils.py", line 888, in _import
    mod = _built

[2022-05-30 20:03] gkahiu commented on #579
@azvoleff I've updated the PR to manage access to changes in local and remote states. Let me know if this fixes the issue.

[2022-06-01 18:15] azvoleff opened #651 "Loading basemaps on slow internet causes QGIS to hang on startup"
Trends.Earth now tries to load basemaps on loading the plugin as they are needed for the reports. However, if a user has very slow internet this will cause QGIS to hang and ultimately crash - just noticed this today as I'm on very slow hotel internet...

Can we have a timeout on basemap download (or better yet - do it in a separate thread so it doesn't cause plugin loading to hang)?

[2022-06-02 14:32] gdaldegan commented on #579
QGIS is still crashing when running SDG 1531 or SO3 (drought) summary tools -- sub-indicator function are running fine.
Unfortunately not much details on the report:
![qgis_crash_sdg1531](https://user-images.githubusercontent.com/22821787/171641820-a07c1c5a-ba6c-47e6-9bd5-1238fcb9ab92.png)

version:

![te_version](https://user-images.githubusercontent.com/22821787/171641868-7baef94e-1193-470b-a708

[2022-06-02 14:49] gdaldegan commented on #579
@gkahiu please let me know how I can use First Aid to debug this. Thanks!

[2022-06-08 02:00] nitinsdg commented on #206
Hi Community,

I am unable to register through **QGIS trend.earth plugin**. I am getting the same error as others are getting.

**_"Unable to login to Trends.Earth server. Check your internet connection."_**

[2022-06-09 15:22] azvoleff commented on #206
@nitinsdg - a server went down on Tuesday night but has since been fixed. Let us know if you still see any issues, as it should now be working fine

[2022-06-10 18:24] gkahiu commented on #577
Hi @azvoleff, am trying to run generate some plots but am not getting any results with the job getting removed when refreshing remote state. See below the payload being sent to the server and corresponding job created from the response:

[code]

[code]

Is there something missing or a variable not set correctly especially for the payload?

[2022-06-14 14:39] gkahiu commented on #577
Am getting a failed status on the job:

[code]

[2022-06-15 15:35] azvoleff opened #653 "False pos/negative fixes"
- [ ] don't allow users to draw overlapping polygons
- [ ] raise a warning if polygons are drawn outside the area of the base raster
- [x] support setting region in dialog box
- [ ] bring up dialog box to choose datasets on clicking create
- [ ] add a task_name field to the create window where datasets are selected

[2022-06-15 15:50] #585 closed

[2022-06-15 17:46] gkahiu commented on #577
Thanks, the update works now. I've opened a PR, let me know if it works as expected.

[2022-06-15 20:16] azvoleff opened #655 "Add documentation for newly re-added timeseries tool"

[2022-06-15 22:59] azvoleff opened #656 "Crash"
## Report Details

**Python Stack Trace**
[code]

**Stack Trace**
No stack trace is available.

**QGIS Info**
QGIS Version: 3.24.0-Tisler
QGIS code revision: 6b44a42058
Compiled against Qt: 5.15.2
Running against Qt: 5.15.2
Compiled against GDAL: 3.4.1
Running against GDAL: 3.4.1

**System Info**
CPU Type: x86_64
Kernel Type: winnt
Kernel Version: 10.0.19044

[2022-06-23 14:06] azvoleff opened #659 "Fixes/features for new land cover legend editing functionalities"
- [x] dynamically create land cover map styles from the legend saved in job json
- [x] ensure correct nesting legend is passed through to job file (right now it is doing ESA to custom legend without including the custom legend to IPCC - need both)
- [x] ensure SOC uses the correct nesting information to calculate SOC transitions
- [x] use the custom legend for land cover imports (dropping auto-rea

[2022-06-23 14:08] azvoleff commented on #651
Merged

[2022-06-23 14:08] #651 closed

[2022-06-23 14:09] azvoleff commented on #642
@gdaldegan - closing for now as I think this is gone, but please reopen if you still see this

[2022-06-23 14:11] azvoleff opened #660 "Python error on clicking open reports directory"
On clicking the "open reports directory" button

![image](https://user-images.githubusercontent.com/107753/175320343-162f2595-0952-4fc6-a7b5-f772b2a3c2b0.png)

I get

[code]

[2022-06-26 21:36] azvoleff opened #662 "Make `edit_tb` checkable"
The edit toolbar button should be checkable (so it stays checked while editing is enabled on the layer, and then isn't checked when editing is disabled)

![qgis-bin_h4vvT2c41S](https://user-images.githubusercontent.com/107753/175834650-2c933404-dea7-4805-a7fd-0e4e63551aa2.png)

[2022-07-02 10:57] azvoleff opened #664 "Update tests"
- [ ] fix to run on github actions
- [ ] add tests for code accessing the API
- [ ] add tests for each algorithm (including remote and localexecution modes)

[2022-07-02 10:59] #603 closed

[2022-07-02 10:59] #613 closed

[2022-07-02 10:59] #577 closed

[2022-07-02 11:01] #571 closed

[2022-07-02 11:01] #568 closed

[2022-07-02 11:02] azvoleff commented on #560
This looks like a temporary error with internet connectivity / an update on our API endpoint. If you still see this let us know and we'll reopen

[2022-07-02 11:02] #560 closed

[2022-07-02 11:25] #650 closed

[2022-07-02 11:25] #645 closed

[2022-07-02 12:31] azvoleff commented on #215
No longer valid

[2022-07-02 12:31] #215 closed

[2022-07-02 12:32] #531 closed

[2022-07-02 12:33] azvoleff commented on #503
Not valid on latest version

[2022-07-02 12:33] #503 closed

[2022-07-07 11:41] azvoleff opened #667 "Move trends.earth settings into main QGIS settings window"
Currently settings for Trends.Earth are accessed from the plugin toolbar:

![image](https://user-images.githubusercontent.com/107753/177764642-f248e91a-42a0-494c-99d8-24d61b7de7d6.png)

This brings up what has become a very cramped window:

![image](https://user-images.githubusercontent.com/107753/177764716-7b1d2ecc-bb18-4190-a6d8-fa6b5980610a.png)

We should move these settings into the main QGIS

[2022-07-07 12:39] azvoleff commented on #667
Also see #397

[2022-07-07 13:06] azvoleff opened #668 "Add feature to support importing and displaying data from LandPKS"

[2022-07-13 17:12] azvoleff opened #673 "Final fixes before 2.0 release"
- [x] bump version to 2.0
- [x] Drop LandPKS login screen and data download page
- [x] Hide false positive/negative tool and data upload fields for reporting
- [x] Add page explaining how to completely remove and reinstall plugin, and recommending a restart of QGIS
- [ ] Send release email @gabrieldaldegan
- [x] Fix links in docs pages
- [x] Add checks to not allow running some tools on points

[2022-07-13 19:01] gdaldegan opened #674 "UNCCD recommended land cover classes are not translated to Spanish"
![image](https://user-images.githubusercontent.com/22821787/178811097-4d868426-99bc-439d-a895-f4b603cf59a7.png)

[2022-07-13 19:01] gdaldegan opened #675 "Dataset list under Los Datos tab are not translated to Spanish"
![image](https://user-images.githubusercontent.com/22821787/178811201-ca3eb757-2128-4dca-8c4c-fabb6822ba86.png)

[2022-07-13 20:14] azvoleff opened #676 "Translation issue"
Import dataset -> Importar conjunto de datos personalizado de Land Cover / Cobertura del terreno

[2022-07-13 20:15] azvoleff opened #677 "Land cover classes save function not working in non-English version"
From Gabriel: "Save land cover classes definition is not properly working. On my test for ARW, it was saving only the ‘Artificial’ class, all other were discarded. Further tests confirmed that only Artificial class is saved! This is happening only on the Spanish version."

[2022-07-14 11:44] azvoleff commented on #677
This is because currently QGIS is [trying to reverse the (potentially) translated class names](https://github.com/ConservationInternational/trends.earth/blob/main/LDMP/lc_setup.py#L532-L537), and the code to do it isn't working correctly.

Fix this by translating class names on initial loading of default classes / degradation matrix (noting that default classes and deg matrix must be reloaded each

[2022-07-15 13:15] azvoleff commented on #674
Duplicate of #677

[2022-07-15 13:15] #674 closed

[2022-07-19 12:35] azvoleff opened #680 "`InvalidSchema` error on task update when automatic refresh is enabled"
As noted by @gdaldegan, `InvalidSchema` comes up occasionally when the refresh background job runs which running a calculation (the sdg indicators was running when the below came up):

![image](https://user-images.githubusercontent.com/107753/179751235-72b370b5-31b8-49c6-b08c-eded930fa59d.png)

[2022-07-20 16:20] azvoleff commented on #680
Can't reproduce. @gdaldegan I"ll leave this open for a bit in case you see this again. If not then I think we can close

[2022-07-20 18:05] #676 closed

[2022-07-21 14:30] azvoleff opened #683 "Limit number of active report workers"
I noticed when changing the language in QGIS that it re-runs all reports. This is fine as then it means that reports are then re-generated in the correct language, but if a user has a large number of existing datasets it leads to QGIS hanging as a large number of processes are started to re-generate all reports.

We need a queue so that there will be a limit on the maximum number of workers launch

[2022-08-05 10:32] CatherineBuckland opened #687 "Soil Organic Carbon land area value too high?"
Hi Trends Earth team,
I’ve got a bit of a query about the summary datasets that are produced in the excel file when you calculate the SDG for each country. It seems that on the Soil organic carbon tab, the Total land area value is much larger than for any of the other tabs. Surely the total land area should be the same across all the tabs? This seems to be a problem for all of my individual countr

[2022-08-29 04:25] #397 closed

[2022-09-14 20:13] andersan commented on #318
This issue is happening for me with version 2.0 of the plugin. I am trying to install it via the plugin manager in QGIS (v.  3.26.0)

Running in Ubuntu 20.04.

I can try installing from ZIP later but wanted to make it clear that there is still an issue in 2.0.

[2022-09-14 20:47] azvoleff commented on #318
@andersan  - looks like you are seeing a different problem. And looking back seems there are actually three different problems listed on this issue. The initial reports were related to numba, while @kamaulindhardt is seeing something from `pyqtgraph`, and you are seeing something related to a ui file for the GUI. I'm closing this one as the main issue is fixed, and I'll shift your report @andersan

[2022-09-14 20:47] #318 closed

[2022-09-14 20:50] azvoleff opened #688 "Error loading DlgTimeSeries.ui"
From @andersan in https://github.com/ConservationInternational/trends.earth/issues/318#issuecomment-1247254088:

  This issue is happening for me with version 2.0 of the plugin. I am trying to install it via the plugin manager in QGIS (v. 3.26.0)

  Running in Ubuntu 20.04.
[code]

[2022-09-14 20:51] azvoleff commented on #688
@andersan - can you tell me if you have anything under `/home/chris/.local/share/QGIS/QGIS3/profiles/default/python/plugins/LDMP/gui`? Wondering if just that one ui file is missing or if the whole path is wrong for some reason

[2022-09-14 20:55] andersan commented on #688
@azvoleff there is a folder there with ~25 files, including one called "DlgTimeseries.ui" with the s lowercase in Timeseries

[2022-09-14 20:57] azvoleff commented on #688
Ah, ok. That is it then. I thought we'd fixed all those issues - apparently not. If you rename to match the case (so it is "DlgTimeSeries.ui", then you should be good to go. And will fix in the next release.

[2022-09-14 21:02] azvoleff commented on #688
Actually - this is already fixed on the main branch - just not yet released to QGIS. So you could also install directly from the repo or the zipfile and that should do it. Just renaming may work, but using the latest development version is safest bet.

[2022-09-14 21:11] andersan commented on #688
Changing the file name fixed it! Thank you

[2022-10-03 15:10] azvoleff opened #689 "Develop transitions style dynamically from land cover legend"

[2022-10-03 19:57] azvoleff opened #690 "Dynamically generate 15.3.1 excel file rows/columns when land cover classes change"

[2022-10-05 15:45] nausea-za opened #691 "Couldn't load plugin 'LDMP' due to an error when calling its initGui() method"
Hi all, relatively new user here. I cannot seem to load the trends.earth plugin in QGIS anymore. Tried reinstalling both QGIS (latest version and stable version), as well as trends.earth plugin but same error. I was using trends.earth v1.0.10 and everything was working fine, when I updated the plugin things started going wrong.

Couldn't load plugin 'LDMP' due to an error when calling its initGui(

[2022-10-10 10:09] vermeulendivan opened #692 "Migrate to QgsNetwork"

[2022-10-10 10:20] vermeulendivan opened #693 "Migrate settings to QGIS options"
The QGIS project provides a framework for settings management and it is
recommended to utilise this framework in plugins too. Any plugin may add a new tab to
the settings dialog as shown in the example below:

![image](https://user-images.githubusercontent.com/79740955/194844819-2876e7c4-54f1-41f2-83c1-0412fc754126.png)

In this work deliverable we will migrate the existing options (e.g. when you

[2022-10-10 10:24] vermeulendivan opened #694 "Refractoring to continuous integration tests"
Continuous Integration testing provides a critical tool to ensure that regressions (breakages with the introduction of new changes) do not occur in the code base. In this work package with will migrate the integration testing suite to use the GitHub Actions system for automating tests. The goal will be to automatically prevent the merging of any changes if the test framework does not pass. In addi

[2022-10-10 10:25] vermeulendivan opened #695 "Migrate cartoDB"
Description: CaroDB is an online data visualisation platform for geospatial information. It is open source and self hosted by CI. The version in use at the moment is currently end of lifed. We will support CI to upgrade this to the latest version.

Assignees: TBD in conjunction with Monica

[2022-10-10 10:26] vermeulendivan opened #696 "Contingency and support"
In addition to the tasks outlined in items 1-3 above, our contract proposal includes provision for general support time and for contingencies should we encounter technical issues during the implementation process. Should this contingency time not be used completely, we will make this time available to the client in the form of provision of general development service up to the limit of the hours s

[2022-10-10 10:37] #696 closed

[2022-10-13 11:55] timlinux commented on #695
Probably we should manage this outside of this github project @vermeulendivan  since it does not direcly relate to Trends plugin.

[2022-10-13 18:06] azvoleff commented on #690
Completed

[2022-10-13 18:07] #677 closed

[2022-10-14 09:19] vermeulendivan opened #697 "Offline mode for the plugin"
Add to the settings an offline mode for when a user needs to work offline (e.g. no internet connection close available). Add to the QGIS plugin settings panel:
![image](https://user-images.githubusercontent.com/79740955/195810014-e2adbd46-a745-4c6c-b4c7-b67847d0010e.png)

Should cover the following:
- Hide/disable function or algorithms which is not available during offline mode
- Tell the user if

[2022-10-14 09:25] vermeulendivan opened #698 "Load a custom land cover dataset"
When attempting to the "Edit definition" for "Load a custom land cover dataset" a crash occurs:
![image](https://user-images.githubusercontent.com/79740955/195812114-32bd5af7-5385-49ea-8bb8-41e6cffc5bb5.png)

This can be replicated by going to the "Datasets" tab, and clicking on "Load a custom land cover dataset". Then select "Edit definition", which causes the crash.

![image](https://user-images

[2022-10-14 09:29] vermeulendivan opened #699 "Algorithms which requires a Buffer"
For areas which contains a single point, a buffer is required (e.g. City of Cape Town in SA). If the buffer is not enabled in the settings, this causes a crash for some of the algorithms when opening the function in QGIS:
SDG land degradation Indicator for SDG:
![image](https://user-images.githubusercontent.com/79740955/195812887-a3e6edc0-0abf-4eff-ad67-63e6a5b9f1e4.png)
UNCCD reporting Generate d

[2022-10-14 09:33] vermeulendivan opened #700 "Improvement to the buffer requirement error message"
When a user wants to run an algorithm which requires the buffer to be enabled, the following error message occurs:
![image](https://user-images.githubusercontent.com/79740955/195813694-289cd822-da3e-4c18-9ead-09d609cde162.png)

This error message is not very discriptive, and can confusing to users of the plugin. Suggestions on improving this:
- Add a section to the error message which explains to

[2022-10-14 09:35] vermeulendivan opened #701 "Custom landcover classes size should be increased"
Currently if the number of classes added to the custom land cover classes in settings is increased to a large amount, it does not fit in the settings panel nicely. The best approach will be to increase the actual size of the table for the landcover classes to increase as the number of classes increases.
NOTE: Class count should not exceed 38.

![image](https://user-images.githubusercontent.com/797

[2022-10-14 09:38] vermeulendivan opened #702 "Move the Trends.Earth login info"
Move the Trends.Earth login information section (highlighted in red) in the settings to the top of the Trends.Earth settings tab.

![image](https://user-images.githubusercontent.com/79740955/195815229-6fc35541-0d70-48bc-8944-cb4571d4b901.png)

[2022-10-14 09:40] vermeulendivan opened #703 "Add new dataset jobs to the top of the list"
Currently new jobs are added to the bottom of the datasets list when a job is performed. This can get problematic when a user already has a large number of jobs/datasets in the list.

The suggested change is the rather add the new job or datasets to the top of the list. See below.

![image](https://user-images.githubusercontent.com/79740955/195815417-748acea8-4286-41a7-a00d-b5acdf58a760.png)

[2022-10-19 11:45] vermeulendivan commented on #695
@timlinux @azvoleff This issue is now closed and moved here https://github.com/ConservationInternational/resilienceatlas/issues/64

[2022-10-19 11:45] #695 closed

[2022-10-27 06:13] Samweli commented on #694
Related to https://github.com/ConservationInternational/trends.earth/issues/664

[2022-10-27 18:00] vermeulendivan opened #706 "Landcover error when saving class changes"
When adding/deleting classes and saving it a crash occurs, BUT all of the storing of the settings/classes still occurs as it should.

![image](https://user-images.githubusercontent.com/79740955/198364294-837b1d45-05aa-4133-a915-62300659ab11.png)

[2022-10-31 17:01] MLNoon opened #709 "Cannot calculate 15.3.1 with custom productivity from LPDynR r-package"
From Trends.Earth User group:
"Has anyone been successful in using custom land cover productivity data, calculated with LPDynR, to calculate the 15.3.1 indicator locally?

I have calculated LPD from MODIS MR-VPP data for baseline and progress years using LPDynR r-package. The region for calculation is Finland and I am using external shapefile with its boundaries.

I am able to import my datasets u

[2022-11-04 11:49] Samweli opened #710 "Missing function get_file_metadata"
File `layer.py` in the plugin root source directory uses undefined function called `get_file_metadata`. The access statement is here https://github.com/ConservationInternational/trends.earth/blob/eed6bf191223e4bc3390ad550b797ba9b31bdae4/LDMP/layers.py#L753

This causes the recent PRs to fail in the CI tests, see https://github.com/ConservationInternational/trends.earth/actions/runs/3392701312/jobs

[2022-11-04 20:54] azvoleff commented on #710
This should be fixed by 80f3c8aedd074aecfcf7481d93fc74bdfdf0f153

[2022-11-06 21:53] #690 closed

[2022-11-06 21:54] azvoleff commented on #688
Closing as now fixed

[2022-11-06 21:54] #688 closed

[2022-11-06 21:56] azvoleff commented on #687
Sorry for long delay @CatherineBuckland. Can you send us the vector for the area you are running? And tell us some more details about what version you are using, and what platform?

The SOC tab area in fact can vary from those on the other tabs as it includes only land area (exclusive of inland waters as indicated by the ESA-CCI land cover dataset, at least when using default datasets provided wit

[2022-11-07 02:29] azvoleff opened #712 "Import function refactoring"
- add a region selector box, and crop (or expand, after warning) output to fit that region
- remove filename selector box (output should be saved to a folder under the default datasets folder, with name chosen by script name / job name / notes depending on what is supplied)
- on land cover tool, store/restore values of the edit definition window across runs

[2022-11-10 13:32] timlinux opened #715 "Settings workflow needs documentation"
https://docs.trends.earth/en/latest/for_developers/index.html

https://docs.trends.earth/en/latest/for_developers/development.html

[2022-11-10 13:33] timlinux opened #716 "Testing workflow needs docs"
https://docs.trends.earth/en/latest/for_developers/index.html

https://docs.trends.earth/en/latest/for_developers/development.html

[2022-11-10 13:39] MLNoon opened #717 "Enable changing CRS from default of WGS84 for local/remote analyses"
This one is perhaps more for the developers, but why are custom data imported to trends.earth to calculate sdg 15.3.1 always reprojected to WGS84 lat/lon? There must be a good reason for it, but it is not mentioned in the docs, or I have missed something. Perhaps it is linked to the idea that input data should be processed in GEE? But what if one wants to do it locally?

Reprojecting GIS data can

[2022-11-10 13:44] timlinux commented on #668
@azvoleff to share notes on the datasets that should be listed in the UI

[2022-11-15 06:03] DimRS opened #720 "Trends.Earth v2.1 error in Linux - Couldn't load plugin 'LDMP'"
Hello, I am using Linux (Ubuntu 22.04) and QGIS 3.22. I upgraded to Trends.Earth v2.1 through the QGIS repository. The tool is installed, however, when I start QGIS I get the attached (inline below) related error message and the toolbox icon does not appear in QGIS, despite the fact that the tool appears to be installed in the QGIS repository.

___________________________________

Couldn't load pl

[2022-11-15 15:27] azvoleff commented on #720
@timlinux - is this something the Kartoza team could look into? Seems to only come up on Linux (and seems to be an issue of not being able to find the widgets that ship with QGIS)

[2022-11-15 22:09] timlinux commented on #720
Hi @azvoleff

Yes I think @vermeulendivan  mentioned this the other day. The quick first x is to upgrade to QGIS 3.22 or later I think. @vermeulendivan please confirm.

[2022-11-16 08:05] vermeulendivan commented on #720
Hi @azvoleff @timlinux . Yes, this is the issue I came across. @Samweli also had a look at it, and replacing the QgsPanelWidget with a QWidget solves the issue in Linux. Samweli explained to me the issue is **not** with the plugin, but rather the QGIS Qt QgsPanelWidget not being available in linux. He can likely explain it better than me.

I have QGIS 3.26 installed on my linux (and on my Windows)

[2022-11-18 13:54] Samweli opened #722 "Error loading SDG 15.3.1 sub-indicator calculation dialog"
When loading  the calcluation dialog for SDG 15.3.1 sub-indicator by clicking the corresponding `Execute remotely` buttonus an error is raised, see below
![image](https://user-images.githubusercontent.com/2663775/202719660-1092d85a-30e8-41cf-9260-8d39b1a152d1.png)

This inturn lead to the following error
![image](https://user-images.githubusercontent.com/2663775/202720013-ad1bfbc4-316d-4675-850b-7

[2022-11-18 14:44] Samweli opened #723 "Indicator for SDG 15.3.1 raise error when certain regions are used"
After choosing Finland with all regions as targeted algorithm region, loading up the dialog for Indicator SDG 15.3.1 inputs throws the following error

![image](https://user-images.githubusercontent.com/2663775/202731151-f9f2552e-925a-489c-ae4d-e136be79ebea.png)

[2022-11-18 18:48] azvoleff opened #724 "Make sure to reset max classes to 38, even on old installs"

[2022-11-18 19:07] azvoleff opened #725 "Make size of land cover degradation matrix larger when a large number of classes is chosen"
When a large number of land cover classes are chosen, the window to setup the land cover degradation matrix should increase in size so that more rows of the matrix are shown (below is from the SDG 15.3.1 tool, but same goes for the land cover tool as well):

![image](https://user-images.githubusercontent.com/107753/202783215-6d1cac0b-7a29-49c9-80e5-2a2f025d6349.png)

[2022-11-18 19:15] azvoleff opened #726 "Make year for imported datasets visible in the title in the datasets screen"
Imported datasets right now just show a generic name like "Imported dataset (Land cover change)":

![image](https://user-images.githubusercontent.com/107753/202784559-3d889041-37ae-4684-93e0-4ac4783a2ed8.png)

This is confusing when multiple files are imported. The titles should also include the year or other relevant metadata.

[2022-11-18 19:20] azvoleff opened #727 "Ensure signal is sent to reload layer selection dropdowns on region change"
Sometimes if a user changes the region in the settings window from within a dialog box, the layer dropdowns won't reload (for example the "Land cover change" tool for the initial and target year fields below):

![image](https://user-images.githubusercontent.com/107753/202785378-fa24838a-30ff-4bd9-b46f-e17ade2c0660.png)

To reproduce, change the region in settings to one with data available - the d

[2022-11-19 00:11] #722 closed

[2022-11-19 00:11] #724 closed

[2022-11-19 00:12] azvoleff commented on #723
I can't reproduce this - @Samweli can you please tell me the steps you used to install the plugin? It looks like either your data folder is missing or the step to download the admin boundaries failed, but without further detail I can't offer much more.

[2022-11-19 01:11] #726 closed

[2022-11-21 20:00] azvoleff commented on #691
Fixed by dfae8ba20834709b2f2124a93296b5465a5dd88f

[2022-11-21 20:00] #691 closed

[2022-11-21 21:02] svallesi commented on #720
Indeed, same here. I run Monterey 12.6 and QGIS 3.28.1 Firenze, trying to install the latest T.E. 2.1.2. This is the error:

Couldn't load plugin 'LDMP' due to an error when calling its classFactory() method

AttributeError: module 'PyQt5.QtWidgets' has no attribute 'QgsPanelWidget'
Traceback (most recent call last):
  File "/Applications/QGIS.app/Contents/MacOS/../Resources/python/qgis/utils.py",

[2022-11-22 03:49] #710 closed

[2022-11-22 09:14] vermeulendivan commented on #702
This has been done: https://github.com/ConservationInternational/trends.earth/pull/705

[2022-11-22 09:14] #702 closed

[2022-11-22 09:15] vermeulendivan commented on #693
This has been done: https://github.com/ConservationInternational/trends.earth/pull/705

[2022-11-22 09:15] #693 closed

[2022-11-22 09:15] vermeulendivan commented on #701
This has been done by https://github.com/ConservationInternational/trends.earth/pull/705

[2022-11-22 09:15] #701 closed

[2022-11-22 09:17] vermeulendivan commented on #700
This has been done: https://github.com/ConservationInternational/trends.earth/pull/705

[2022-11-22 09:17] #700 closed

[2022-11-22 09:18] vermeulendivan commented on #667
This has been done: https://github.com/ConservationInternational/trends.earth/pull/705

[2022-11-22 09:18] #667 closed

[2022-11-22 09:20] vermeulendivan commented on #725
@azvoleff Is this related to the Landcover table in the settings?

[2022-11-22 09:21] vermeulendivan commented on #697
The plugin seems to do requests in the background, even a person is not using the plugin or if the plugin has finished an algorithm already. These requests needs to be investigated.

[2022-11-22 09:21] vermeulendivan commented on #697
It might also be best to do this once the network migration has been done.

[2022-11-23 18:26] gdaldegan opened #731 "Runtime Error when running SDG SubIndicators for Bosnia and Herz"
Getting the following error when setting Bosnia and Herz. as the AOI
_Invalid geometry in row {n}. Check that all input geometries are valid before processing. Try using the check validity tool on the 'Vector' menu on the toolbar for more information on which features are invalid (Under 'Vector' - 'Geometry Tools' -'Check Validity')_

[2022-11-24 08:11] vermeulendivan commented on #692
Authentication works, and a response is received from the server which contains the bearer token.
When a post is done to submit a job, no error status message is received from the server:
![image](https://user-images.githubusercontent.com/79740955/203727726-ccfa9c64-2401-41db-983f-551313823eac.png)
But, when receiving an email from Trends.Earth regarding the job it fails:
![image](https://user-ima

[2022-11-24 08:20] vermeulendivan commented on #692
Code changes required for this migration should be mostly related to the api.py at line 60, which is the class which does the requests.
![image](https://user-images.githubusercontent.com/79740955/203729553-e80c5d93-c94b-4d69-bf84-0193f1d4f310.png)
The download.py will also require changes.
![image](https://user-images.githubusercontent.com/79740955/203729655-f2517c49-a601-44a1-9162-1b3a8cb96fbb.pn

[2022-11-24 08:25] vermeulendivan commented on #692
The easiest approach for the user to see if there are a failure in the job on the server's side is to receive an email. An account can easily be set up in the plugin. Install the plugin from the QGIS plugin manager, and open the Trends.Earth settings. There is a section for login information.
![image](https://user-images.githubusercontent.com/79740955/203730833-9214834a-c764-4d7e-83e1-750db7f208c2

[2022-11-26 01:36] #715 closed

[2022-11-26 20:04] azvoleff commented on #720
See [this branch](https://github.com/ConservationInternational/trends.earth/tree/linux-fixes) for initial fixes for running on Linux/MacOS - but right now still needs work as the swap of `QWidget` for `QgsPanelWidget` creates other issues.

[2022-11-30 09:40] Samweli commented on #720
@azvoleff I have created another PR for the `QgsPanelWidget` fix only here https://github.com/ConservationInternational/trends.earth/pull/736. We will need to also merge https://github.com/ConservationInternational/trends.earth/pull/735 which contain a fix for another plugin errror.

[2022-11-30 20:52] azvoleff commented on #720
Should now be fixed on develpo and main by 913f3416f5f3240525239d1f67fe8ba45f9eff5f.  If this still comes up can reopen this one.

[2022-11-30 20:52] #720 closed